@import 'scss/base';

// Foundation
@import 'node_modules/foundation-sites/scss/util/util';
@import 'node_modules/foundation-sites/scss/global';
@import 'node_modules/foundation-sites/scss/grid/grid';

// Lower spacings
:root {
  --space-v-sm: 0.5cm;
  --space-v-md: 0.5cm;
  --space-v-lg: 0.5cm;
  --space-v-lg: 0.75cm;
  --space-v-xl: 1cm;
  --space-v-xxl: 1.5cm;
}

@page {
  // size: auto;   /* auto is the initial value */
  // this affects the margin in the printer settings
  margin: 10mm 15mm;
}

// Remove nonense link path print out by some browsers
a::after {
  content: ' ' !important;
}

// Hide certain page parts we won't print out
.hide-for-print,
.header-image-wrapper,
.top-bar-outer-wrapper,
.top-bar-outer,
.sidebar,
form,
.button,
form,
.page-header,
.page-footer,
#sliding-popup,
.scroll-top {
  display: none !important;
}

// Fix visibility classes for inline elements
span strong {
  &.show-for-print {
    display: inline !important;
  }
}

// Avoid page breaks inside defined elements
picture,
img,
.slick-slider,
.card,
.media-object {
  // page-break-inside will be deprecated - use the new attribute too
  page-break-inside: avoid;
  break-inside: avoid;
}

// As we hide any sidebars - give the main wrapper 100% width
.page-main-content {
  @include flex-grid-column(12);
}

// Fix foundation offcanvas wrapper - overflow:auto causes cut off contents in print sometimes
.page-wrapper {
  overflow: visible !important;
}
// Remove our "footer always at bottom" flexbox fix from the off-canvas-content wrapper.
// (uses flex shrink/grow let the content area grow an move the footer to bottom, what caues weird overlap issues in print)
.off-canvas-content {
  display: block !important;
}

// ============================================================================
// Fix default components in print
// ============================================================================

// Cutline: Print removes background colors - so we need to use real borders here
.cutline-top,
.cutline-bottom {
  --cutline-space-outer: 0.5cm !important;
  --cutline-space-inner: 0.5cm !important;
  &::before,
  &::after {
    display: none !important;
  }
}
.cutline-top {
  border-top: 1px solid var(--cutline-color);
}
.cutline-bottom {
  border-bottom: 1px solid var(--cutline-color);
}
