// =============================================================================
//  Typygraphy
// =============================================================================

// TODO: This file should live in drowl-sass-base and just compiled by the base & child theme

// Hint: This file is just for external use (eg. WYSIWYG CSS)
//       It's not used in the frontend.

@import 'scss/base';

// Reset some variables to ensure everything looks fine in the editor
// (especialy on designs with dark backgrounds and white text color)
// TODO: maybe check color contrast against white, so we are able to preserver the correct
//       preview styles for light templates.
$body-font-color: $gray-dark;
$text-color: $body-font-color;
$header-color: $black;

// Foundation
@import 'node_modules/foundation-sites/scss/global';
@import 'node_modules/foundation-sites/scss/typography/typography';
@import 'node_modules/foundation-sites/scss/components/table';
@import 'node_modules/foundation-sites/scss/components/card';
@import 'node_modules/foundation-sites/scss/components/media-object';
@import 'node_modules/foundation-sites/scss/components/callout';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-table;
@include foundation-card;
@include foundation-media-object;
@include foundation-callout;

// Embeded entities
@import 'entities/media';
@import 'entities/misc';
@import 'components/cards';
@import 'components/media_objects';
.cke_widget_element[data-entity-embed-display*='media_object'] {
  // -- Fix media object > full width
  display: block;
}

// Quickfix: Recolorize white buttons
.button.white,
.button.white.hollow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

// Fix embeded entities alignment (see also: page_layout/_layout.scss > .embed-X)
// these wrappers just printed out in the editor, floating just the content (.embed-X) causes UI errors.
drupal-entity[data-align='left'],
drupal-entity[data-align='right'] {
  max-width: 50%;
  * {
    float: none !important;
    width: auto !important;
  }
}
drupal-entity[data-align='left'] {
  float: left;
}
drupal-entity[data-align='right'] {
  float: right;
}

// Typo overrides
$font-first-path: '../fonts/';
@import 'base/drowl_base.typography';

// Icons
@import 'components/icons';

// Buttons
@import 'node_modules/foundation-sites/scss/components/button';
@include foundation-button;

// Spacings
@include spacings-responsive-styles();

// Colors
@include color-modifier-styles();

// List Styles
@import 'components/list_styles';

// Ckeditor improvements / Fixes
body.cke_editable {
  background: $white;
  padding: 0.5rem;
  font-size: $global-font-size;
}
