{# Uncommend if copied and should extended: % extends "node.html.twig" % #}
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 *
 * If you override this file, its probably better to just extend it:
 * % extends "node.html.twig" %
 */
#}

{% if view_mode != "full" and view_mode != "default" %}
  {% block teaser %}
    {# Card / Tile (via layout) #}
    {{ content }}
  {% endblock %}
  {# card #}
{% else %}
  {# Full node or none defined view modes #}
  {%
    set classes = [
      'node',
      'entity',
      'node--id-' ~ node.id,
      'node--type-' ~ node.bundle|clean_class,
      node.isPromoted() ? 'node--promoted',
      node.isSticky() ? 'node--sticky',
      not node.isPublished() ? 'entity--unpublished',
      view_mode ? 'entity--view-mode-' ~ view_mode|clean_class,
    ]
  %}
  {% block full_wrapper_open %}
    <article{{ attributes.addClass(classes).removeAttribute('role') }}>
      {% if not node.isPublished() %}
        {# Show message if node is not published #}
        {% include '@drowl_base/_includes/unpublished_messages.html.twig' with {'type': 'message'} only %}
      {% endif %}
    {% endblock %}
    {% block title_additions %}
      {# Print out title pre- & suffix for contextual links (the title itself is printed out inside the layout). #}
      {{ title_prefix }}
      {{ title_suffix }}
    {% endblock %}
    {% block full_content %}
      {{ content }}
    {% endblock full_content %}
    {% block full_node_blocks %}
      {# Print out blocks inside the node #}
      {% set node_blocks_rendered = drupal_region('node_content')|render %}
      {% if (node_blocks_rendered|striptags('<img><video><drupal-render-placeholder>')|trim is not empty) %}
        <div class="node__blocks">
          <div class="grid-container">
            {{ node_blocks_rendered }}
          </div>
        </div>
      {% endif %}
    {% endblock full_node_blocks %}
  </article>
{% endif %}
