{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ previous"
 *     or "next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup themeable
 */
#}
{% if items %}
  {% set pagination_id = 'pager' ~ random() %}
  <nav class="pager" aria-labelledby="{{ pagination_id }}">
    <h4 id="{{ pagination_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pagination pager__items js-pager__items">
      {# Print first item if we are not on the first page. #}
      {% block pager_item_first %}
        {% if items.first and items.first.text|length > 0 %}
          <li class="pager__item pager__item--first">
            <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes|without('href', 'title') }}>
              {% block pager_item_first_icon %}
                <i class="ico-db-arrow-left-end ico--sm"></i>
              {% endblock %}
              <span class="visually-hidden">{{ items.first.text|default('First page'|t) }}</span>
            </a>
          </li>
        {% endif %}
      {% endblock %}
      {# Print previous item if we are not on the first page. #}
      {% block pager_item_prev %}
        {% if items.previous %}
          <li class="pager__item pager__item--previous">
            <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
              {% block pager_item_prev_icon %}
                <i class="ico-db-arrow-left ico--sm"></i>
              {% endblock %}
              <span class="visually-hidden">{{ items.previous.text|default('Previous page'|t) }}</span>
            </a>
          </li>
        {% endif %}
      {% endblock %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="unavailable pager__item pager__item--ellipsis" role="presentation"><a href="">&hellip;</a></li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% block pager_item %}
          <li class="pager__item{{ current == key ? ' is-active current' : '' }}">
            {% if current == key %}
              <span class="visually-hidden">
                {{ 'Current page'|t }}
              </span>
              {{- key -}}
            {% else %}
              {% set title = 'Go to page @key'|t({'@key': key}) %}
              <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
                <span class="visually-hidden">
                  {{ 'Page'|t }}
                </span>
                {{- key -}}
              </a>
            {% endif %}
          </li>
        {% endblock %}
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        {% block pager_item_ellipses %}
          <li class="unavailable pager__item pager__item--ellipsis" role="presentation">
            <a href="">&hellip;</a>
          </li>
        {% endblock %}
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% block pager_item_next %}
        {% if items.next %}
          <li class="pager__item pager__item--next">
            <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
              <span class="visually-hidden">{{ items.next.text|default('Next page'|t) }}</span>
              {% block pager_item_next_icon %}
                <i class="ico-db-arrow-right ico--sm"></i>
              {% endblock %}
            </a>
          </li>
        {% endif %}
      {% endblock %}
      {# Print last item if we are not on the last page. #}
      {% block pager_item_last %}
        {% if items.last and items.last.text|length > 0 %}
          <li class="pager__item pager__item--last">
            <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes|without('href', 'title') }}>
              <span class="visually-hidden">{{ items.last.text|default('Last page'|t) }}</span>
              {% block pager_item_last_icon %}
                <i class="ico-db-arrow-right-end ico--sm"></i>
              {% endblock %}
            </a>
          </li>
        {% endif %}
      {% endblock %}
    </ul>
  </nav>
{% endif %}
