{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */
#}

<ul class="view__summary-navigation summary-navigation pagination" aria-label="Summary">
  {% for row in rows  %}
    <li class="summary-navigation__item{{ row.active ? ' is-active current' }}">
      {% if not row.active %}
      <a aria-label="Character: {{ row.title_truncated }}" class="summary-navigation__item__link" href="{{ row.url }}"{{ row.attributes|without('href') }}>
      {% endif %}
        <span class="summary-navigation__item__label">{{ row.link }}</span>
        {% if options.count %}
            <span class="summary-navigation__item__count"> ({{ row.count }})</span>
        {% endif %}
      {% if not row.active %}
      </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
