{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  {% set pagination_id = 'pager' ~ random() %}
  <nav aria-labelledby="{{ pagination_id }}">
    <h4 id="{{ pagination_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="js-pager__items pagination pagination--mini">
      {% if items.previous %}
        <li class="pagination-previous disabled">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <i class="ico-db-arrow-left ico--sm"></i>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="current">
          {% trans %}
            Page {{ items.current }}
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li class="pagination-next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <i class="ico-db-arrow-right ico--sm"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
