{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view--name-' ~ css_name,
    'view--display-' ~ view.current_display|clean_class,
    empty ? 'view--empty',
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% block wrapper %}
  <div{{ attributes.addClass(classes) }}>
    {% block wrapper_inner %}
      {% block title %}
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}
      {% endblock title %}
      {% block header %}
        {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}
      {% endblock header %}

      {% block exposed_filter %}
        {{ exposed }}
      {% endblock exposed_filter %}

      {% block attachment_before %}
        {{ attachment_before }}
      {% endblock attachment_before %}

      {% block rows %}
        {{ rows }}
      {% endblock rows %}

      {% block empty %}
      {% if empty %}
        <div class="callout warning text-center">
          <i class="callout__icon ico-db-info ico--circled ico--lg"></i>
          {{ empty }}
        </div>
      {% endif %}
      {% endblock empty %}

      {% block pager %}
      {{ pager }}
      {% endblock pager %}

      {% block attachment_after %}
        {{ attachment_after }}
      {% endblock attachment_after %}

      {% block more %}
        {{ more }}
      {% endblock more %}

      {% block footer %}
        {% if footer %}
          <footer>
            {{ footer }}
          </footer>
        {% endif %}
      {% endblock footer %}

      {% block feed %}
        {{ feed_icons }}
      {% endblock feed %}
    {% endblock wrapper_inner %}
  </div>
{% endblock wrapper %}
