{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * #webksde-TF: We've added this file just because of this damn issue: https://www.drupal.org/project/drupal/issues/1968398
 *              So: DON'T print out {{ rows }} directly in an unformatted views-view template!
 * @see template_preprocess_views_view_unformatted()
 */
#}
{# Completely removed the views markup - we just want to print out the 
header slideshow reference field from the current node #}
{% for row in rows %}
    {{- row.content -}}
{% endfor %}
