{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * #webksde-TF: We've added this file just because of this damn issue: https://www.drupal.org/project/drupal/issues/1968398
 *              So: DON'T print out {{ rows }} directly in an unformatted views-view template!
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% if row.content['#row'].node_field_data_created %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes).setAttribute('data-news-cookie-timestamp', row.content['#row'].nid|clean_id ~ '-' ~ row.content['#row'].node_field_data_created|clean_id) }}>
      {{- row.content -}}
    </div>
  {% else %}
    <div class="message alert">Views Field "node_field_data_created" not found - this is needed to set the cookie.</div>
  {% endif %}
{% endfor %}
