{% extends "@drowl_base/fields/field.html.twig" %}
{# Drupal 'stable' core theme overrides this field, so we have to re-override it. #}

{% block field_item_value %}
  {% if not element['#object'].isPublished() %}
    {# Add an "Unpublished" label to the title #}
    {% include '@drowl_base/_includes/unpublished_messages.html.twig' with {'type': 'label'} only %}
  {% endif %}
  {{ item.content }}
{% endblock field_item_value %}
