{#
/**
 * @file
 * Paragraphs fields - removed unnecessary wrappers.
 * Update 20180905: Removed ALL wrappers, reduce useless markup! Also removed the label - we will never need it.
 */
#}
{%
  set classes = [
    'field',
    'field-wrapper',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{% if display_field_tag %}
<{{ field_tag|default('div') }}{{ attributes.addClass(classes) }}>
{% endif %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% if display_field_tag %}
</{{ field_tag|default('div') }}>
{% endif %}
