{#
/**
 * @file
 * Theme override for a field.
 */
#}
{%
  set classes = [
    'field',
    'field-wrapper',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% block field_outer %}
  {% if display_field_tag %}
      <{{ field_tag|default('div') }}{{ attributes.addClass(classes) }}>
  {% endif %}
    {% if not label_hidden and display_label_tag %}
      {% block field_label %}
        <{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ label_tag|default('div') }}>
      {% endblock field_label %}
    {% endif %}
    {% if display_items_wrapper_tag %}
        <{{ field_items_wrapper_tag|default('div') }}{{ field_items_wrapper_attributes.addClass('field__items') }}>
    {% endif %}
    {% block field_items %}
      {% for item in items %}
        {% if display_item_tag %}
            <{{ field_item_tag|default('div') }}{{ item.attributes.addClass('field__item') }}>
        {% endif %}
        {% block field_item_value %}
          {{ item.content }}
        {% endblock field_item_value %}
        {% if display_item_tag %}
            </{{ field_item_tag|default('div') }}>
        {% endif %}
      {% endfor %}
    {% endblock field_items %}
    {% if display_items_wrapper_tag %}
      </{{ field_items_wrapper_tag|default('div') }}>
    {% endif %}
  {% if display_field_tag %}
      </{{ field_tag|default('div') }}>
  {% endif %}
{% endblock field_outer %}