{% extends "@drowl_base/fields/field.html.twig" %}

{# We need to add some 'real content' here otherwise Drupals/Themes
  empty checks will detect this field as empty - even if an icon is set.
#}

{% block field_item_value %}
  {{ parent() }}
  <span class="hidden empty-region-prevent-placeholder">
    {# Fake-Content to prevent icon markup from being detected as "empty" #}
    &nbsp;
  </span>
{% endblock field_item_value %}
