{#
/**
 * @file
 * Returns HTML for an image using a specific Photoswipe image style.
 *
 * Available variables:
 * - image: image item.
 * - path: The path of the image that should be displayed in Photoswipe.
 * - attributes: Link attributes.
 * - item: An ImageItem object.
 * - display_settings: optional image styles.
 *
 * @ingroup themeable
 */
#}
{% if display_settings.photoswipe_view_mode == 'card' and (display_settings.photoswipe_node_style == 'masonry_grid_single_width' or display_settings.photoswipe_node_style == 'masonry_grid_double_width') %}
  {# We need to have the naked photoswipe link for cards - the image will be printed out seperatly (see node--foto.html.twig) #}
  <a href="{{ path }}"{{ attributes.addClass('link-only') }} >{{ 'Zoom in'|t }}</a>
{% else %}
  <a href="{{ path }}"{{ attributes }} >{{ image }}</a>
{% endif %}
