{% extends "@drowl_base/fields/readmore-extrafield.html.twig" %}

{% block readmore_link %}
  {{ link(link.title, link.url, link.attributes.addClass(['button', 'hollow', 'white'])) }}
{% endblock readmore_link %}
