@import 'scss/base';

// Show hidden labels if fields are filled (so the placeholder is gone and the field is unlabeled)
// To us this the field label need to set to "invisible" (& a placeholder should set).
.form-item {
  &--show-label-on-edit {
    > label {
      overflow: hidden;
      max-height: 0;
      transition-duration: 350ms;
      transition-property: padding, margin, max-height, opacity;
    }
    &:not(.form-item--filled) {
      > label {
        margin: 0;
        padding: 0;
        opacity: 0;
      }
    }
    &.form-item--filled {
      > label {
        max-height: 5em;
      }
      // Move required icon to the - now visible - label
      &.form-item--required {
        &::before {
          display: none;
        }
        > label {
          &::after {
            content: '*';
            color: var(--warning-color, #{$warning-color});
          }
        }
      }
    }
  }
}
