@import 'scss/base';

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes temp-show-label {
  0% {
    width: 0;
    opacity: 0;
  }
  5% {
    width: calc(100vw - var(--collapsed-button-size) - 3rem);
    opacity: 1;
  }
  95% {
    width: calc(100vw - var(--collapsed-button-size) - 3rem);
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.attention-seeker-fly-in {
  --collapsed-button-size: 3rem;
  position: fixed !important;
  top: 0;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform, padding;
  max-width: 300px !important;
  padding: 1rem !important;
  > .block-title {
    font-size: 1rem;
    &.block--expandable__trigger {
      &::after {
        // Hide trigger ZF arrow
        display: none;
      }
    }
  }
  > .block__content {
    max-height: 0;
    max-width: 0;
    transition-duration: 150ms;
    transition-property: max-height;
    overflow: hidden;
    > .paragraph:last-child {
      margin-bottom: 0 !important;
    }
  }
  > .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: $darker-gray;
    color: $white;
    .ico {
      font-size: 16px;
    }
  }
  &--position-left {
    left: 0 !important;
    transform: translateX(-100%);
    > .close-button {
      left: auto;
      right: 0;
      transform: translate(50%, -50%);
    }
    &:not(.open) {
      > .block--expandable__trigger {
        transform: translateX(1rem) !important;
        .block-title__label {
          right: auto;
          left: calc(100% + 10px);
        }
      }
    }
  }
  &--position-right {
    right: 0 !important;
    transform: translateX(100%);
  }
  &--hidden {
    display: none !important;
  }
  &.is-stuck {
    transform: translateX(0);
    &:not(.open) {
      .block-title__label {
        animation: temp-show-label 3s linear 1 forwards;
      }
    }
  }
  &:not(.is-stuck) {
    > .block--expandable__trigger,
    > .close-button {
      display: none !important;
    }
  }
  &:not(.open) {
    padding: 0;
    width: auto;
    background: none !important;
    border-color: transparent !important;
    > .close-button {
      display: none;
    }
    > .block--expandable__trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--collapsed-button-size);
      height: var(--collapsed-button-size);
      margin: 0;
      background-color: var(--box-style-bg-color);
      color: var(--box-style-text-color);
      border-radius: 50%;
      transform: translateX(-1rem);
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        background-color: var(--box-style-bg-color);
        border-radius: 50%;
        width: 200%;
        height: 200%;
        margin-left: -100%;
        margin-top: -100%;
        animation: pulse-ring 2.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }
      .block-title__label {
        // Show the label as tooltip for 3 seconds
        max-width: 300px;
        opacity: 0;
        color: $text-color;
        position: absolute;
        right: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        padding: 6px;
        background-color: $white;
        border-radius: 3px;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // transition-duration: 250ms;
        // transition-property: max-width, opacity, box-shadow, background-color, padding;
      }
    }
  }
  &.open {
    > .block--expandable__trigger {
      .block-title__icon {
        display: none;
      }
    }
    > .block__content {
      max-height: 100vh;
      max-width: none;
    }
  }
}
// Foundation sticky container (with custom class)
.attention-seeker-container {
  height: auto !important;
  min-height: 1px;
}
