@import 'scss/base';

.protip-skin-default {
  // Contents
  a {
    color: currentColor;
  }
  .field:not(:last-child) {
    margin-bottom: 0.15rem;
  }
}
.button--tooltip-read-on {
  margin-bottom: 0;
}

// Style configuration
@import 'node_modules/protip/css/config';
@import 'node_modules/protip/css/mixin/all';

// Protip Basic styling (from protip.scss)
.protip {
  &-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;

    > i {
      position: absolute;
      left: 10px;

      // If there is an icon in the tooltip (warning, ok, etc.) the content has different style
      + div {
        padding-left: 20px;
      }
    }
  }

  &-arrow {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  &-show {
    opacity: 1;
    pointer-events: auto;
  }
}

// Themes (from skin/_default.scss)
$_protipDefaultSkinColors: (
  'pro': $primary-color,
  'white': $white,
  'black': $black,
  'orange': $alert-color,
) !default;

$_protipDefaultSkinSizes: (
  'tiny': (
    arrow-size: 4px,
    css: (
      padding: 8px,
      font-size: 10px,
      border-radius: 3px,
    ),
  ),
  'small': (
    arrow-size: 6px,
    css: (
      padding: 13px,
      font-size: 12px,
      border-radius: 4px,
    ),
  ),
  'normal': (
    arrow-size: 8px,
    css: (
      padding: 16px,
      font-size: 15px,
      border-radius: 6px,
    ),
  ),
  'big': (
    arrow-size: 10px,
    css: (
      padding: 20px,
      font-size: 18px,
      border-radius: 8px,
    ),
  ),
  'large': (
    arrow-size: 12px,
    css: (
      padding: 20px,
      font-size: 18px,
      border-radius: 8px,
    ),
  ),
) !default;

@mixin protipDefaultSkinArrowGenerator($skin, $arrow-size, $offset, $color, $cornerRadiusFix) {
  ///////////// TOP
  .#{$skin}[data-pt-position='top-left'],
  .#{$skin}[data-pt-position='top'],
  .#{$skin}[data-pt-position='top-right'] {
    .protip-arrow {
      top: 100%;
      left: auto;
      margin: 0 0 0 $arrow-size * -1;
      border-width: $arrow-size $arrow-size 0 $arrow-size;
      border-color: $color transparent transparent transparent;
    }
  }

  .#{$skin}[data-pt-position='top-left'] .protip-arrow {
    left: $offset;
  }
  .#{$skin}[data-pt-position='top'] .protip-arrow {
    left: 50%;
  }
  .#{$skin}[data-pt-position='top-right'] .protip-arrow {
    left: auto;
    right: $offset;
    margin-right: $arrow-size * -1;
  }

  ///////////// BOTTOM
  .#{$skin}[data-pt-position='bottom-left'],
  .#{$skin}[data-pt-position='bottom'],
  .#{$skin}[data-pt-position='bottom-right'] {
    .protip-arrow {
      top: $arrow-size * -1;
      left: auto;
      margin: 0 0 0 $arrow-size * -1;
      border-width: 0 $arrow-size $arrow-size $arrow-size;
      border-color: transparent transparent $color transparent;
    }
  }

  .#{$skin}[data-pt-position='bottom-left'] .protip-arrow {
    left: $offset;
  }
  .#{$skin}[data-pt-position='bottom'] .protip-arrow {
    left: 50%;
  }
  .#{$skin}[data-pt-position='bottom-right'] .protip-arrow {
    left: auto;
    right: $offset;
    margin-right: $arrow-size * -1;
  }

  ///////////// LEFT
  .#{$skin}[data-pt-position='left-top'],
  .#{$skin}[data-pt-position='left'],
  .#{$skin}[data-pt-position='left-bottom'] {
    .protip-arrow {
      top: auto;
      left: 100%;
      margin: $arrow-size * -1 0 0 0;
      border-width: $arrow-size 0 $arrow-size $arrow-size;
      border-color: transparent transparent transparent $color;
    }
  }

  .#{$skin}[data-pt-position='left-top'] .protip-arrow {
    top: $offset;
  }
  .#{$skin}[data-pt-position='left'] .protip-arrow {
    top: 50%;
  }
  .#{$skin}[data-pt-position='left-bottom'] .protip-arrow {
    top: auto;
    bottom: $offset;
    margin-bottom: $arrow-size * -1;
  }

  ///////////// RIGHT
  .#{$skin}[data-pt-position='right-top'],
  .#{$skin}[data-pt-position='right'],
  .#{$skin}[data-pt-position='right-bottom'] {
    .protip-arrow {
      top: auto;
      right: 100%;
      margin: $arrow-size * -1 0 0 0;
      border-width: $arrow-size $arrow-size $arrow-size 0;
      border-color: transparent $color transparent transparent;
    }
  }

  .#{$skin}[data-pt-position='right-top'] .protip-arrow {
    top: $offset;
  }
  .#{$skin}[data-pt-position='right'] .protip-arrow {
    top: 50%;
  }
  .#{$skin}[data-pt-position='right-bottom'] .protip-arrow {
    top: auto;
    bottom: $offset;
    margin-bottom: $arrow-size * -1;
  }
  /////////////

  ///////////// CORNERS
  .#{$skin}[data-pt-position='top-left-corner'] {
    @if $cornerRadiusFix {
      border-bottom-right-radius: 0;
    }

    .protip-arrow {
      top: 100%;
      left: 100%;
      margin: 0 0 0 $arrow-size * -1;
      border-width: 0 $arrow-size $arrow-size 0;
      border-color: transparent $color transparent transparent;
    }
  }

  .#{$skin}[data-pt-position='top-right-corner'] {
    @if $cornerRadiusFix {
      border-bottom-left-radius: 0;
    }

    .protip-arrow {
      top: 100%;
      left: $arrow-size * -1;
      margin: 0 0 0 $arrow-size;
      border-width: $arrow-size $arrow-size 0 0;
      border-color: $color transparent transparent transparent;
    }
  }

  .#{$skin}[data-pt-position='bottom-left-corner'] {
    @if $cornerRadiusFix {
      border-top-right-radius: 0;
    }

    .protip-arrow {
      top: $arrow-size * -1;
      left: 100%;
      margin: 0 0 0 $arrow-size * -1;
      border-width: 0 0 $arrow-size $arrow-size;
      border-color: transparent transparent $color transparent;
    }
  }

  .#{$skin}[data-pt-position='bottom-right-corner'] {
    @if $cornerRadiusFix {
      border-top-left-radius: 0;
    }

    .protip-arrow {
      top: 0;
      left: $arrow-size * -1;
      margin: $arrow-size * -1 0 0 $arrow-size;
      border-width: $arrow-size 0 0 $arrow-size;
      border-color: transparent transparent transparent $color;
    }
  }
}

// Schemes
@each $colorName, $color in $_protipDefaultSkinColors {
  $skinSel: protip-skin-default--scheme-#{$colorName};

  .#{$skinSel} {
    &.protip {
      &-container {
        color: smart-scale($color, 100%, 65%);
        background: $color;
        font-family: sans-serif;
        transition: opacity 0.2s ease-out;
        @if ($colorName == 'white') {
          box-shadow: $shadow-small;
        }
      }
    }
  }

  @include protipDefaultSkinArrowGenerator(
    $skin: $skinSel,
    $arrow-size: 8px,
    $offset: 20px,
    $color: $color,
    // Ugly, i know :(
    $cornerRadiusFix: 0
  );
}

// Sizes
@each $sizeName, $sizeMap in $_protipDefaultSkinSizes {
  $sizeSel: protip-skin-default--size-#{$sizeName};

  .#{$sizeSel} {
    @each $prop, $val in map-get($sizeMap, css) {
      #{$prop}: #{$val};
    }
  }

  @include protipDefaultSkinArrowGenerator(
    $skin: $sizeSel,
    $arrow-size: map-get($sizeMap, arrow-size),
    $offset: 20px,
    $color: invalid,
    // Ugly, i know :(
    $cornerRadiusFix: 0
  );
}
