{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{#
  This is just a quick & dirty solution to simply get a button style on all
  links inside content by setting the custom class "btn-inside" to the wrapper.
  See media--document.html.twig templates to find a better way for specific links.
#}
{% set classes = [
  'media-entity',
  'media-' ~ name|clean_class,
  view_mode ? 'media-entity--' ~ view_mode|clean_class,
  'btn-inside'
]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {{ content }}
  {% endif %}
</article>
