{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{# TODO: VL this tpl has various issues:
         1. Teaser should have an entity wrapper also
         2. Classes are not added to attributes
         3. Type class missing
#}
{% set classes = [
    term.isPublished() ? '' : 'entity--unpublished',
    'entity',
    'entity--view-mode-' ~ view_mode|clean_class,
    'taxonomy-term',
    'taxonomy-term--bundle-' ~ term.bundle|clean_class,
  ]
%}

{% if view_mode != "full" and view_mode != "default" %}
  {% block teaser %}
    {# Card / Tile (via layout) #}
    {{ content }}
  {% endblock %}
  {# card #}
{% else %}
  {# Full term or none defined view modes #}
  {% block full_content %}
    <div{{ attributes.addClass(classes) }}>
      {% if not term.isPublished() %}
        {# Show message if node is not published #}
        {% include '@drowl_base/_includes/unpublished_messages.html.twig' with {'type': 'message'} only %}
      {% endif %}
      {{ title_suffix.contextual_links }}

      {{ content }}
    </div>
  {% endblock %}{# full_content #}
{% endif %}
