// Get iconfont variables
@import 'frontend_libraries/drowl-base-theme-iconset/variables';
@import 'node_modules/drowl-sass-base/_configuration/defaults';

// Icomoon fonts file path relative to the css folder
$icomoon-font-path: '../frontend_libraries/drowl-base-theme-iconset/fonts';

$list-checklist-style-icon: $ico-db-check;

// ----------------------------------------------------
// ANCHOR Drilldown Menus
// ----------------------------------------------------

// We use arrows from our iconfont instead of those css triangles.
$drilldown-ico-size: $icon-size-xs;
$drilldown-ico-up: $ico-db-chevron-up;
$drilldown-ico-down: $ico-db-chevron-down;
$drilldown-ico-left: $ico-db-chevron-left;
$drilldown-ico-right: $ico-db-chevron-right;

// ----------------------------------------------------
// ANCHOR Dropdown Menus
// ----------------------------------------------------

// We use arrows from our iconfont instead of those css triangles.
$dropdownmenu-ico-size: $icon-size-xs;
$dropdownmenu-ico-up: $ico-db-chevron-up;
$dropdownmenu-ico-down: $ico-db-chevron-down;
$dropdownmenu-ico-left: $ico-db-chevron-left;
$dropdownmenu-ico-right: $ico-db-chevron-right;

// ----------------------------------------------------
// ANCHOR Slider
// ----------------------------------------------------

$slider-direction-nav-prev-icon: $ico-db-chevron-left;
$slider-direction-nav-next-icon: $ico-db-chevron-right;
