{% extends "page.html.twig" %}

{% block page_content %}
    <div class="grid-container">
        <div class="callout warning callout--http-401">
            <i class="callout__icon ico-db-locked ico--circled ico--lg"></i>
            {% if not node %}
                <div class="callout__title h3 has-subline">
                    {{ page['#title'] }}
                </div>
            {% endif %}
            {{ page.content }}
        </div>
    </div>
{% endblock page_content %}
