{#
/**
  * @file
  * Theme override to display a region.
  *
  * Available variables:
  * - content: The content for this region, typically blocks.
  * - attributes: HTML attributes for the region <div>.
  * - region: The name of the region variable as defined in the theme's
  *   .info.yml file.
  *
  * @see template_preprocess_region()
  */
#}
{% if content %}
  {# TODO: Find a better way to figure out if we need moretabs on this page #}
  {% set classes = [
    'js-empty-check',
    'page-options-wrapper',
    ('/user' in current_path) ? 'page-options-wrapper--vertical' : 'moretabs',
    'grid-container',
    'mt-md'
  ]%}
  <div {{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
{% endif %}
