{#
/**
  * @file
  * Theme override to display a region.
  *
  * Available variables:
  * - content: The content for this region, typically blocks.
  * - attributes: HTML attributes for the region <div>.
  * - region: The name of the region variable as defined in the theme's
  *   .info.yml file.
  *
  * @see template_preprocess_region()
  */
#}
{% if content %}
  <div class="top-bar-bottom-line">
    <div class="grid-container grid-container--wider">
      <div class="grid-x grid-margin-x align-middle align-justify grid-x-nowrap">
        {{ content }}
      </div>
    </div>
  </div>
{% endif %}
