{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}

{#
  We can't remove the label if field type is checkbox - otherwise our checkbox custom style will brake
  So instead we print out the empty label element with aria-label attr.
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'empty-label-placeholder',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% if title is not empty or required -%}
  {% if title_display == 'invisible' %}
    <label{{ attributes.addClass(classes) }} aria-label="{{ title }}"></label>
  {% else %}
    <label{{ attributes.addClass(classes) }}>{{ title }}</label>
  {% endif %}
{%- endif %}
