{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set input_classes = [
    element['#errors'] == true ? 'is-invalid-input'
  ]
%}

<input{{ attributes.addClass(input_classes) }} />{{ children }}
