{#
/**
 * @file
 * Theme override for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - href: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'href' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'href' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 */
#}
{# HINT: Style for the contrib module: https://www.drupal.org/project/dropdown_language #}
{% if links -%}
  {% set id_suffix = random() %} {# Needed if the block appears more then once #}
<div class="language-switcher-dropdown hidden">
    {% apply spaceless %}
      <button class="button hollow language-switcher-dropdown__trigger" type="button" data-toggle="language-switcher-dropdown-pane-{{ id_suffix }}">
        <span class="language-switcher-dropdown__current-label">{{ 'Choose Language'|t }}</span>&nbsp;<i class="ico ico-db-chevron-down ico--xxs"></i>
      </button>
    {% endapply %}
    <div class="dropdown-pane language-switcher-dropdown__pane" data-position="bottom" data-alignment="right" data-close-on-click="true" id="language-switcher-dropdown-pane-{{ id_suffix }}" data-dropdown data-auto-focus="true">
      <ul class="vertical menu menu--level-0">
        {%- for item in links -%}
          <li{{ item.attributes.addClass('menu-item') }}>
            {%- if item.link -%}
              {{ item.link }}
            {%- elseif item.text_attributes -%}
              <span{{ item.text_attributes }}>{{ item.text }}</span>
            {%- else -%}
              {{ item.text }}
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {# Load the javascript libarary #}
  {{ attach_library('drowl_base/language_switcher_dropdown') }}
{%- endif %}
