{#
/**
 * @file
 * Theme override for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - href: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'href' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'href' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 */
#}
{% set dropdownId = random() %}

{% if links -%}
  {%- for item in links -%}
    {% if loop.first %}
      {# Print out the first link as directly clickable button #}
      <div{{ item.attributes.addClass(['button-group', 'small']) }}>
        {%- if item.link -%}
          {{ link(item.text, item.link['#url'], item.attributes.addClass(['button', 'primary', 'hollow'])) }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes.addClass(['button', 'primary', 'hollow']) }}>{{ item.text }}</span>
        {%- else -%}
          <span class="button primary hollow">{{ item.text }}</span>
        {%- endif -%}
        {# Dropdown toggle (only if there > 1 items) #}
        {% if loop.length > 1 %}
          <a class="dropdown button primary hollow" data-toggle="dropdown-{{ dropdownId }}">
            <span class="show-for-sr">{{ 'Show menu'|t }}</span>
          </a>
        {% endif %}
      </div>
      {# Print out drodpwon menu wrapper #}
      {% if loop.length > 1 %}
        <div{{ attributes.addClass(['dropdown-pane', 'dropdown-pane--menu', 'dropdown-pane--small'])
                         .setAttribute('id', 'dropdown-' ~ dropdownId)
                         .setAttribute('data-position', 'bottom')
                         .setAttribute('data-alignment', 'right')
                         .setAttribute('data-dropdown', '')
                         .setAttribute('data-close-on-click', 'true')
        }}>
          <ul class="vertical menu">
      {% endif %}
    {% else %}
      <li{{ item.attributes }}>
        {%- if item.link -%}
          {{ item.link }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
      {% if loop.last and loop.length > 1 %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  {%- endfor -%}
{%- endif %}
