{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * - title: The current page title.
 */
#}
{% if breadcrumb %}
{% apply spaceless %}
    <nav aria-labelledby="system-breadcrumb">
      <div id="system-breadcrumb" class="visually-hidden">{{ 'You are here'|t }}</div>
      <ul class="breadcrumbs">
        {% for item in breadcrumb %}
          {% block item %}
            <li>
              {% if item.url %}
                <a href="{{ item.url }}">{{ item.text }}</a>
                {# Want a home-icon instead of the first link? #}
                {# {% if loop.first and item.text.getUntranslatedString()|lower == 'home' %}
                  <a href="{{ item.url }}"><i class="ico ico-home" aria-label="{{ 'Home'|t }}"></i></a>
                {% else %}
                  <a href="{{ item.url }}">{{ item.text }}</a>
                {% endif %} #}
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endblock item %}
        {% endfor %}
        {% block item_current %}
          {% if title %}
            <li class="current">{{ title }}</li>
          {% endif %}
        {% endblock item_current %}
      </ul>
    </nav>
  {% endapply %}
{% endif %}
