{#
/**
 * @file
 * Default theme implementation for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - link: (optional) A render array that returns a link. See
 *     template_preprocess_links() for details how it is generated.
 *   - text: The link text.
 *   - attributes: HTML attributes for the list item element.
 *   - text_attributes: (optional) HTML attributes for the span element if no
 *     'url' was supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 *
 * @ingroup themeable
 */
#}

{# HINT: If you need to have the language switcher as dropdown we use the contrib module: https://www.drupal.org/project/dropdown_language #}
{# Just added the foundation menu class #}

{% if links and links|length > 1 -%}
  <ul class="menu">
    {%- for item in links -%}
      <li>
        {%- if item.link -%}

          <!--{{ item.link }} to do: remove this line without breaking the urls -->

          {% if item.link['#options'].language.id == current_language %}
            {% set classes = ['active'] %}
          {% else %}
            {% set classes = [''] %}
          {% endif %}
          {% set url = path(item.link['#url'].routeName, item.link['#url'].routeParameters, item.link['#url'].options) %}

        {%- else -%}
          {% set classes = ['disabled'] %}
          {% set url = '#' %}
        {%- endif -%}

        <a href="{{ url }}"
          {{ item.attributes.addClass(classes) }}
          {{ item.attributes.setAttribute('title', item.text ) }}
          {{ item.attributes.setAttribute('lang', item.link['#options'].language.id ) }}
          {{ item.attributes.setAttribute('aria-label', item.text ) }}>
            {{ item.text }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif %}
