{#
/**
 * @file
 * This file is used if the "Simple Megamenu" module is activated.
 * No matter if the current menu has an megamenu trail or not.
 *
 * *** IMPORTANT! ***
 * This file will just output a regular menu, no megamenu. This is because every
 * instance of an menu which has a megamenu attached will use this template. But for eg:
 * sometimes you will use a regular menu in the sidebar, lets say the second+ menu layers.
 * We tried to put everything in one file, which is just horrible to manage.
 * So we load the real megamenu templatefile just for very specific menus (topbar).
 */
#}
{% include '@drowl_base/navigation/menu.html.twig' %}
