{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{{ attach_library('drowl_base/moretabs') }}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <nav class="tabs-wrapper">
    <ul class="tabs tabs--local-tasks tabs--local-tasks-primary">{{ primary }}</ul>
  </nav>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <nav class="tabs-wrapper">
    <ul class="tabs tabs--local-tasks tabs--local-tasks-secondary">{{ secondary }}</ul>
  </nav>
{% endif %}
