{# This file is used if the megamenu module is not used #}
{% set menu_extra_classes = [
  'show-for-large'
] %}
{% include '@drowl_base/navigation/menu_types/menu--dropdown.html.twig' with menu_extra_classes %}
