{#
  Before changing this include, notice that we define some regions as
  "Vertical menu regions" to force horizontal menus to vertical menus.
  - see /menu_types/menu--horizontal & .theme - file.

  Define the default for menus in vertical marked regions.
#}
{% include '@drowl_base/navigation/menu_types/menu--accordion.html.twig' %}
