{#
/**
 * @file
 * This file is used if the "Simple Megamenu" module is activated.
 * No matter if the current menu has an megamenu trail or not.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - is_megamenu_trail: Current .menu is a submenu of an mega menu item
 * - is_inside_megamenu_trail: Needed to mark ALL (even deeper then 1) submenus
 *                             as "submenu inside a megamenu".
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   -                  we added it as macro parameter too, to set it on
 *   -                  accordion submenus - to have them opened on load
 *   - item_has_megamenu: Current menu item contains a megamenu (as direct child!)
 */
#}
{% import _self as menus %}

{# Load the libraries #}
{{ attach_library('foundation_sites/dropdownMenu') }}
{{ attach_library('foundation_sites/dropdown') }}
{{ attach_library('simple_megamenu/base') }}

{#
  We call a macro which calls itself to render the full tree.
  0+@see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{# TODO:   resolve the submenu problems - we currently fix it via CSS but the js hover things still happen.
           Perfect solution would be using another menu template file inside megamenu flyouts.
           But this will still not be the solution since the problem is located in the foundation script
           which not allows the nesting different menu types
#}

{% set is_megamenu_trail = 0 %}
{% set in_active_trail = 0 %}

{# Print out menu #}
{{ menus.menu_links(items, attributes, 0, is_megamenu_trail, 0, in_active_trail) }}
{% macro menu_links(items, attributes, menu_level, is_megamenu_trail, is_inside_megamenu_trail, in_active_trail) %}
  {% import _self as menus %}
  {% set megamenu_max_depth = 3 %}
  {% if items and menu_level < megamenu_max_depth %}
    {% apply spaceless %}
      {% if menu_level == 0 %}
        {% block top_bar_level_0 %}
          {%
            set top_bar_menu_classes = [
              'menu',
              'horizontal',
              'menu--level-0',
              'menu--static',
              'dropdown',
              'show-for-large'
            ]
          %}
          <ul{{ attributes.addClass(top_bar_menu_classes).setAttribute('data-dropdown-menu', '') }}>
        {% endblock top_bar_level_0 %}
      {% else %}
        {# -- Seperate attributes for submenus (level 0+) #}
        {# -- Why? We won't inherit all the stuff from the first level. #}
        {% if not submenu_attributes %}
          {% set submenu_attributes = create_attribute() %}
        {% endif %}

        {% block top_bar_submenus %}
          {%
            set topbar_submenu_classes = [
              'menu',
              'vertical',
              'menu--level-' ~ menu_level,
              is_megamenu_trail ? '' : 'submenu',
              is_megamenu_trail ? '' : 'is-dropdown-submenu',
              is_megamenu_trail ? '' : 'dropdown'
            ]
          %}
          {# Remove the menu level class from the last iteration #}
          {% set attributes = attributes.removeClass('menu--level-' ~ (menu_level - 1)) %}
          <ul{{ submenu_attributes.addClass(topbar_submenu_classes).setAttribute('data-submenu', '') }}>
        {% endblock top_bar_submenus %}
      {% endif %}

      {% for item in items %}
        {% set item_has_megamenu = has_megamenu(item.url) %}
        {# ========= Set menu item icon =========== #}
        {# HINT: You also have to change the link functions item.title to menu_item_label #}
        {% set item_icon = item.entity.field_icon.value %}
        {% set item_icon_position = item.entity.field_icon_position.value|default('icon_position_left') %}
        {% set item_has_icon = (not item_icon is iterable) and item_icon|trim|length > 0 ? true : false %}
        {% if item_has_icon %}
            {% set menu_item_label %}
              <i class="ico {{ item_icon }}"></i>{% if item_icon_position != "icon_only" %} <span>{{ item.title }}</span>{% endif %}
            {% endset %}
        {% else %}
            {% set menu_item_label %}
              <span>{{ item.title }}</span>
            {% endset %}
        {% endif %}
        {# ========= END Set menu item icon =========== #}
        {% block menu_item_classes %}
          {% set menu_item_classes = [
            'menu-item',
            ((item.below is not empty) or item_has_megamenu) ? 'has-submenu',
            (item.is_expanded or item_has_megamenu) ? 'menu-item--expanded',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail',
            item_has_megamenu ? 'mega-menu mega-menu--horizontal',
            item_has_icon ? 'has-icon',
            item_has_icon ? item_icon_position|default('icon_position_left')|clean_class
          ] %}
          <li{{ item.attributes.addClass(menu_item_classes) }}>
        {% endblock menu_item_classes %}
          {% if item.below is not empty or item_has_megamenu %}
            {# We need to add a random number to the id - needed if there are multiple instances of this menu. #}
            {% set megamenu_id = "mega-menu--" ~ item.title|clean_class ~ "-" ~ random() %}
            {% block menu_item_megamenu %}
              {{ link(menu_item_label, item.url, { 'data-toggle':[megamenu_id] }) }}
            {% endblock menu_item_megamenu %}
          {% else %}
            {% block menu_item %}
              {{ link(menu_item_label, item.url) }}
            {% endblock menu_item %}
          {% endif %}
          {# Reset mega menu flag on new menu trails #}
          {% if menu_level == 0 %}
            {% set is_inside_megamenu_trail = 0 %}
          {% endif %}
          {% if item_has_megamenu %}
            {# Flag all following submenus as megamenu trail item #}
            {% set is_inside_megamenu_trail = 1 %}
            {% block submenu_mega_menu %}
              <div id="{{ megamenu_id }}"
                   class="mega-menu-wrapper mega-menu-wrapper--{{ item.title|clean_class }} dropdown-pane bottom" data-dropdown
                   data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">
                <div class="mega-menu-wrapper__inner grid-container">
                  {# Parameters (descriptions on top of this file):
                     1. items
                     2. attributes
                     3. menu_level
                     4. is_megamenu_trail
                     5. is_inside_megamenu_trail
                     6. in_active_trail
                  #}
                  {# Isn't it simply possible to use another tpl file from here on instead of iterating this file again??? #}
                  {# Otherwise .. define a second macro and use this (maybe we can include another tpl file inside this macro.). #}
                  {% if not megamenu_submenu_attributes %}
                    {% set megamenu_submenu_attributes = create_attribute() %}
                  {% endif %}
                  {% import '@drowl_base/navigation/menu_types/menu--vertical-custom.html.twig' as mega_submenus %}

                  {% set menu_item_below_subtree_rendered = mega_submenus.menu_links(item.below, megamenu_submenu_attributes, menu_level + 1) %}
                  {{ view_megamenu_bonus(item, menu_item_below_subtree_rendered) }}
                </div>
              </div>
            {% endblock submenu_mega_menu %}
          {% else %}
            {% if item.below %}
              {% block submenu %}
                {{ menus.menu_links(item.below, submenu_attributes, menu_level + 1, is_inside_megamenu_trail ? 1 : 0, 0, item.in_active_trail) }}
              {% endblock submenu %}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endapply %}
  {% endif %}
{% endmacro %}
