{#
/**
 * @file
 * Theme override to display a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 *
 * @ingroup themeable
 */
#}

{%
  set tab_classes = [
    'tabs-title',
    is_active ? 'is-active',
  ]
%}

<li{{ attributes.addClass(tab_classes) }}>
  {% if is_active %}
    {{ link(link['#title'], link['#url'], {'class':['tabs-link'], 'aria-selected': 'true'}) }}
  {% else %}
    {{ link(link['#title'], link['#url'], {'class':['tabs-link']}) }}
  {% endif %}
</li>
