{#
  The correct template override suggestion isnt working because of:
  https://www.drupal.org/project/sitemap/issues/3153982
  So we need to specifically overrdie the main menu
  The megamenu (extra) module causes this suggetion order problem - so other menus shouldn't be affected (because megamenu is only active for the main menu).
#}

{# Get core menu template - to have a simple list style instead of Foundation menu style #}
{% extends "@stable/navigation/menu.html.twig" %}
