{#
/**
 * @file
 * Theme override for a filter caption.
 *
 * Returns HTML for a captioned image, audio, video or other tag.
 *
 * Available variables
 * - string node: The complete HTML tag whose contents are being captioned.
 * - string tag: The name of the HTML tag whose contents are being captioned.
 * - string caption: The caption text.
 * - string classes: The classes of the captioned HTML tag.
 */
#}

{# Fix default classes to fit ZF classes #}
{% set embed_attributes = create_attribute() %}

{% set aligned_center = 'align-center' in classes %}
{% set classes = [
    'embed-entity',
    'align-right' in classes ? 'embed-right',
    'align-left' in classes ? 'embed-left',
    aligned_center ? 'embed-center cell medium-10 large-5',
  ]
%}

{% if aligned_center %}
<div class="embed-center-wrapper grid-x grid-margin-x small-collapse align-center">
{% endif %}
  <figure role="group"{{ embed_attributes.addClass(classes) }}>
    {{ node }}
    <figcaption class="caption">
      {{ caption|nl2br }}
    </figcaption>
  </figure>
{% if aligned_center %}
</div>
{% endif %}
