{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - see block.html.twig for more variables.
 */
#}
{%
  set classes = [
    'block',
    'block-branding',
    block_region ? 'block-region--' ~ block_region|clean_class,
    block_type ? 'block-type--' ~ block_type|clean_class
  ]
%}

{# Remove settings-tray-editable (contextual links) class if not logged in - Drupal bug https://www.drupal.org/project/drupal/issues/2919373 #}
{% if not logged_in %}
  {% set attributes = attributes.removeClass('settings-tray-editable').removeAttribute('data-drupal-settingstray') %}
{% endif %}

{% if block_region == 'top_bar_left' %}
  {% set classes = classes|merge(['block--logo-small']) %}
{% endif %}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% block content %}
    {%  if block_region == 'top_bar_left' %}
      {# Print out small logo variant if this block is located in the menu bar #}
        <a href="{{ path('<front>') }}" title="{{ logo_title }}" rel="home" class="site-logo site-logo--small">
          <img src="{{ logo_small_path }}" alt="{{ logo_alt }}" title="{{ logo_title }}">
        </a>
    {% else %}
      {% if site_logo %}
        <a href="{{ path('<front>') }}" title="{{ logo_title }}" rel="home" class="site-logo">
          <img src="{{ site_logo }}" title="{{ logo_title }}" alt="{{ logo_alt }}">
        </a>
      {% endif %}
      {% if site_name %}
        <div class="site-name">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        </div>
      {% endif %}
      {% if site_slogan %}
        <div class="site-slogan">{{ site_slogan }}</div>
      {% endif %}
    {% endif %}
  {% endblock %}
  {{ title_suffix }}
</section>
