{#
/**
* Views block to show news who marked as important.
*/
#}
{% block block_outer %}
  {{ attach_library('drowl_base/highlight_news') }}
  {%
    set classes = [
      'block',
      'block--highlight-news',
      block_region ? 'block-region--' ~ block_region|clean_class,
      block_type ? 'block-type--' ~ block_type|clean_class,
      'callout',
      'alert',
      'hidden'
    ]
  %}

  {# Remove settings-tray-editable (contextual links) class if not logged in - Drupal bug https://www.drupal.org/project/drupal/issues/2919373 #}
  {% if not logged_in %}
    {% set attributes = attributes.removeClass('settings-tray-editable').removeAttribute('data-drupal-settingstray') %}
  {% endif %}

  {% block block_wrapper %}
    {# Start block wrapper #}
    <{{ fences_element.wrapper|default('section') }} {{ attributes.addClass(classes) }}>
      {# Printint title_prefix / suffix is problematic without having the outer wrapper - contextual links would be positioned somewhere on the page #}
      {{ title_prefix }}
      {# Block label #}
      {% block label %}
        {% if label %}
          {% if fences_element.label != 'none' %}
            <{{ fences_element.label|default('div') }} {{ title_attributes.addClass('block__title') }}>
            {% endif %}
            {{ label }}
            {% if fences_element.label != 'none' %}
            </{{ fences_element.label|default('div') }}>
          {% endif %}
        {% endif %}
      {% endblock label %}
      {% if fences_element.wrapper != 'none' %}
        {{ title_suffix }}
      {% endif %}
      {# Block content #}
      {% block content %}
        {% if fences_element.content and fences_element.content != 'none' %}
          <{{ fences_element.content|default('div') }} {{ content_attributes.addClass('block__content') }}>
        {% endif %}
          {% block content_inner %}
            {{ content }}
          {% endblock content_inner %}
        {% if fences_element.content and fences_element.content != 'none' %}
          </{{ fences_element.content|default('div') }}>
        {% endif %}
      {% endblock content %}
      {# End block wrapper #}
      <button class="close-button" aria-label="Dismiss alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>

    </{{ fences_element.wrapper|default('section') }}>

  {% endblock block_wrapper %}

  {% endblock block_outer %}
