{% extends "block.html.twig" %}

{% block block_outer %}
  {# Add (additional) menu block specific classes #}
  {%
    set menu_block_classes = [
      'block-menu',
      'block-menu--' ~ derivative_plugin_id|clean_class,
      'navigation'
    ]
  %}
  {% set attributes = attributes.addClass(menu_block_classes) %}

  {{ parent() }}
{% endblock block_outer %}
