{#
/**
 * @file
 * Drupals default search block
 **/
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    block_region ? 'block-region--' ~ block_region|clean_class,
    block_type ? 'block-type--' ~ block_type|clean_class,
    'block--form-inline'
  ]
%}

{# Remove settings-tray-editable (contextual links) class if not logged in - Drupal bug https://www.drupal.org/project/drupal/issues/2919373 #}
{% if not logged_in %}
  {% set attributes = attributes.removeClass('settings-tray-editable').removeAttribute('data-drupal-settingstray') %}
{% endif %}

{# Add our expandable inline search library if class is set to block wrapper #}
{% if attributes.hasClass('block--expandable-inline-search-form') %}
 {{ attach_library('drowl_base/expandable_inline_search_form') }}
{% endif %}

<section{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}


  <div {{ content_attributes.addClass('block__content') }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</section>
