{%
  set classes = [
    'block',
    block_region ? 'block-region--' ~ block_region|clean_class,
    block_type ? 'block-type--' ~ block_type|clean_class,
    'callout',
    'info'
  ]
%}

<div {{ attributes.addClass(classes) }}>
  <i class="callout__icon ico-db-info ico--circled ico--lg"></i>
  {{ content }}
</div>
