{#
/**
 * @file
 * Drupals default search block
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block--form-inline'
  ]
%}

{# Remove settings-tray-editable (contextual links) class if not logged in - Drupal bug https://www.drupal.org/project/drupal/issues/2919373 #}
{% if not logged_in %}
  {% set attributes = attributes.removeClass('settings-tray-editable').removeAttribute('data-drupal-settingstray') %}
{% endif %}

{# Add our expandable inline search library if class is set to block wrapper #}
{% if attributes.hasClass('block--expandable-inline-search-form') %}
 {{ attach_library('drowl_base/expandable_inline_search_form') }}
{% endif %}

{# TODO: figure out who this container-inline class comes from and remove it #}
<section{{ attributes.addClass(classes).removeClass('container-inline') }}>

  {{ title_prefix }}
  {% if label %}
    {% if fences_element.label != 'none' %}
      <{{ fences_element.label|default('div') }} {{ title_attributes.addClass('block__title') }}>
      {% endif %}
      {{ label }}
      {% if fences_element.label != 'none' %}
      </{{ fences_element.label|default('div') }}>
    {% endif %}
  {% endif %}
  {{ title_suffix }}

  <div {{ content_attributes.addClass('block__content') }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>

</section>

