{#
/**
* @file
* Default theme implementation to display a block.
*
* Available variables:
* - block.subject: Block title.
* - content: Block content.
* - block.module: Module that generated the block.
* - block.delta: An ID for the block, unique within each module.
* - block.region: The block region embedding the current block.
* - classes: String of classes that can be used to style contextually through
*   CSS. It can be manipulated through the variable classes_array from
*   preprocess functions. The default values can be one or more of the following:
*   - block: The current template type, i.e., "theming hook".
*   - block-[module]: The module generating the block. For example, the user module
*     is responsible for handling the default user navigation block. In that case
*     the class would be "block-user".
* - title_prefix (array): An array containing additional output populated by
*   modules, intended to be displayed in front of the main title tag that
*   appears in the template.
* - title_suffix (array): An array containing additional output populated by
*   modules, intended to be displayed after the main title tag that appears in
*   the template.
*
* Helper variables:
* - classes_array: Array of html class attribute values. It is flattened
*   into a string within the variable classes.
* - block_zebra: Outputs 'odd' and 'even' dependent on each block region.
* - zebra: Same output as block_zebra but independent of any block region.
* - block_id: Counter dependent on each block region.
* - id: Same output as block_id but independent of any block region.
* - is_front: Flags true when presented in the front page.
* - logged_in: Flags true when the current user is a logged-in member.
* - is_admin: Flags true when the current user is an administrator.
* - block_html_id: A valid HTML ID and guaranteed unique.
* - content_attributes: Raw HTML attributes for block content.
* - title_attributes: Raw HTML attributes for the block title tag.
*
* @see template_preprocess()
* @see template_preprocess_block()
* @see template_process()
*/
#}
{% block block_outer %}

  {% set block_entity = content['#block_content'] %}

  {# Remove settings-tray-editable (contextual links) class if not logged in - Drupal bug https://www.drupal.org/project/drupal/issues/2919373 #}
  {% if not logged_in %}
    {% set attributes = attributes.removeClass('settings-tray-editable').removeAttribute('data-drupal-settingstray') %}
  {% endif %}

  {# Check options & set variables #}
  {% if block_entity.field_block_options %}
    {% set block_options = {
      'default_behavoir': true
    } %}
    {% for item in block_entity.field_block_options %}
      {% set block_options = block_options|merge({
        (item.value): true
      }) %}
    {% endfor %}
  {% endif %}

  {# Just expandable - no flyout #}
  {% if block_options.expandable %}
    {% set expandable = true %}
    {% set targetToggleId = attributes.id %}
  {% endif %}

  {# Expandable - block content as flyout #}
  {% if block_options.expandable_flyout %}
    {% set dropdown_pane = true %}
    {% set expandable = true %}
    {% set targetToggleId = 'expandable-pane-' ~ attributes.id %}
  {% endif %}

  {% if block_options.default_expanded %}
    {% set default_expanded = true %}
  {% endif %}

  {% if block_options.close_button %}
    {% set close_button = true %}
  {% endif %}

  {# Set classes #}
  {% set classes = [
    'block',
    block_region ? 'block-region--' ~ block_region|clean_class,
    block_type ? 'block-type--' ~ block_type|clean_class,
    expandable ? 'block--expandable',
    (expandable and default_expanded) ? 'block--default-expanded open' : 'block--default-collapsed'
  ] %}

  {%
    set content_classes = [
      expandable ? 'block--expandable__content' : 'block__content',
      dropdown_pane ? 'dropdown-pane'
    ]
  %}

  {#  ======== Print markup ======== #}
  {% block block_wrapper %}
    {% if fences_element.wrapper != 'none' %}
      {% if expandable %}
        <{{ fences_element.wrapper|default('section') }} {{ attributes.addClass(classes).setAttribute('data-toggler','.open') }}>
      {% else %}
        <{{ fences_element.wrapper|default('section') }} {{ attributes.addClass(classes) }}>
      {% endif %}
    {% endif %}
    {# Title / Expandable block trigger #}
    {% if fences_element.wrapper != 'none' %}
      {{ title_prefix }}
    {% endif %}
    {% block label %}
      {% if label %}
        {% set block_label_block %}
          {% block label_content %}
            <span class="block-title__label">{{ label }}</span>
          {% endblock label_content %}
        {% endset %}
        {% if fences_element.label != 'none' %}
          {% if expandable %}
            <{{ fences_element.label|default('div') }} {{ title_attributes.addClass('block__title').addClass('block--expandable__trigger').setAttribute('data-toggle', targetToggleId) }}>
          {% else %}
            <{{ fences_element.label|default( 'div') }} {{ title_attributes.addClass('block__title') }}>
          {% endif %}
        {% endif %}
          {% if block_entity.field_symbol.0 %}
            {% if block_entity.field_symbol_position.value == "left" %}
              {{ content.field_symbol }}
            {% endif %}
            {% if block_entity.field_symbol_position.value == "instead_label" %}
              {{ content.field_symbol }}
            {% else %}
            {{ block_label_block }}
            {% endif %}
            {% if block_entity.field_symbol_position.value == "right" %}
              {{ content.field_symbol }}
            {% endif %}
          {% else %}
            {{ block_label_block }}
          {% endif %}
        {% if fences_element.label != 'none' %}
          </{{ fences_element.label|default('div') }}>
        {% endif %}
      {% endif %}
    {% endblock label %}
    {% if fences_element.wrapper != 'none' %}
      {{ title_suffix }}
    {% endif %}

    {% block content %}
      {% if fences_element.content != 'none' %}
        {% if dropdown_pane %}
          <{{ fences_element.content|default('div') }} {{ content_attributes.addclass(content_classes).setAttribute('id', targetToggleId).setAttribute('data-dropdown', '').setAttribute('data-autofocus', 'true').setAttribute('data-close-on-click', 'true') }}>
        {% else %}
          <{{ fences_element.content|default('div') }} {{ content_attributes.addclass(content_classes).setAttribute('id', targetToggleId) }}>
        {% endif %}
      {% endif %}
      {% if expandable and close_button %}
        {% apply spaceless %}
          <button class="block--expandable__close-btn button button--icon-only" type="button" data-toggle="{{ targetToggleId }}">
            <span class="show-for-sr">Close</span>
            <span aria-hidden="true">
              <i class="ico-remove"></i>
            </span>
          </button>
        {% endapply %}
      {% endif %}
      {% block content_inner %}
        {{ content|without('field_symbol') }}
      {% endblock content_inner %}
      {% if fences_element.content != 'none' %}
        </{{ fences_element.content|default('div') }}>
      {% endif %}
    {% endblock content %}
    {% if fences_element.wrapper != 'none' %}
      </{{ fences_element.wrapper|default('section') }}>
    {% endif %}
  {% endblock block_wrapper %}
{% endblock block_outer %}
