{% extends "@drowl_base/blocks/block.html.twig" %}

{% block block_wrapper %}
  {# Added identifier class #}
  {%
    set classes = [
      'block',
      'block--system-breadcrumbs',
      block_region ? 'block-region--' ~ block_region|clean_class,
      block_type ? 'block-type--' ~ block_type|clean_class
    ]
  %}

  {{ parent() }}
{% endblock %}
