{#
/**
* @file
*
* Attention Seeker Blocks
* =======================
*
* Behavior: Block is initially hidden and flies into view (https://get.foundation/sites/docs/sticky.html),
* if a defined trigger-region is reached, and will hide gain if the region is left. The Block also have a
* close button, which sets a cookie (https://github.com/js-cookie/js-cookie) with the block-id (7 days lifetime?),
* so id doesn't disturb the user over and over again.
* On small devices the block becomes an animated (pulsating) circle-button "info".
*
* Libraries:
* - drowl_base/attention_seeker_fly_ins
*
*/
#}

{% block block_outer %}
  {{ attach_library('drowl_base/attention_seeker_fly_ins') }}

  {% set block_entity = content['#block_content'] %}

  {# Block settings #}
  {% set sticky_on = block_entity.field_sticky_on.value %}
  {% set sticky_position = block_entity.field_sticky_position.value %}
  {% set sticky_margin_top = block_entity.field_sticky_margin_top.value %}
  {% set sticky_margin_bottom = block_entity.field_sticky_margin_bottom.value %}
  {% set block_color_scheme = drupal_field('field_css_classes', 'taxonomy_term', block_entity.field_color_scheme.value.0.target_id).0['#context'].value %}
  {% set targetToggleId = attributes.id %}

  {# Set classes #}
  {% set classes = [
    'block',
    'attention-seeker-fly-in',
    sticky_position ? 'attention-seeker-fly-in--position-' ~ sticky_position|clean_class,
    block_color_scheme ? 'box-style',
    block_color_scheme ? 'box-style--' ~ block_color_scheme|clean_class,
    block_region ? 'block-region--' ~ block_region|clean_class,
    block_type ? 'block-type--' ~ block_type|clean_class
  ] %}

  {%
    set content_classes = [
      'block__content'
    ]
  %}

  {# Set some data attributes for the custom initialization of Foundation sticky #}
  {% set attributes = attributes.setAttribute('data-asfi-sticky-on', sticky_on) %}
  {% if sticky_margin_top and sticky_margin_top > 0 %}
    {% set attributes = attributes.setAttribute('data-asfi-margin-top', sticky_margin_top) %}
  {% endif %}
  {% if sticky_margin_bottom and sticky_margin_bottom > 0 %}
    {% set attributes = attributes.setAttribute('data-asfi-margin-bottom', sticky_margin_bottom) %}
  {% endif %}

  {% block block_wrapper %}
    <section {{ attributes.addClass(classes).setAttribute('data-toggler','open') }}>
      <button class="close-button" aria-label="Close alert" type="button" data-close>
        <i class="ico ico-remove" aria-hidden="true"></i>
      </button>
      {{ title_prefix }}
      {% block label %}

        <{{ fences_element.label|default('div') }} {{ title_attributes.addClass('block__title').addClass('block--expandable__trigger').setAttribute('data-toggle', targetToggleId) }}>
          <i class="block-title__icon ico ico-info"></i>
          {% if label %}
            <span class="block-title__label">{{ label }}</span>
          {% endif %}
        {% if fences_element.label != 'none' %}
          </{{ fences_element.label|default('div') }}>
        {% endif %}

      {% endblock label %}
      {% block content %}
        {{ title_suffix }}
        <div {{ content_attributes.addclass(content_classes) }}>
          {% block content_inner %}
            {{ content }}
          {% endblock content_inner %}
        </div>
      {% endblock content %}
    </section>
  {% endblock block_wrapper %}
{% endblock block_outer %}
