{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 *  #webksde-TF: Default classy menu template. Just for testing purposes - delete if not needed anymore.
 */
#}
{% import _self as menus %}

{# Load the library #}
{{ attach_library('foundation_sites/drilldown') }}
{# Make some informations about the menu available inside the macro #}
{# TODO: This wont be available inside the macro => SCOPE issue #}
{% set menu_data = {
  'menu_name': menu_name
} %}

{# Add some extra classes optinaly provided by the include #}
{% if menu_extra_classes %}
  {% set attributes = attributes.addClass(menu_extra_classes) %}
{% endif %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      {% set first_level_classes = [
        'menu',
        menu_data.menu_name ? 'menu--' ~ menu_data.menu_name|clean_class,
        menu_level ? 'menu--level-' ~ menu_level : 'menu--level-0',
        'vertical',
        'drilldown'
      ] %}
      {# Remove the menu level class from the last iteration #}
      {% set attributes = attributes.removeClass('menu--level-' ~ (menu_level - 1)) %}
      <ul{{ attributes.addClass(first_level_classes)
                      .setAttribute('data-drilldown', 'true')
                      .setAttribute('data-auto-height', 'true')
                      .setAttribute('data-animate-height', 'true')
                      .setAttribute('data-parent-link', 'true')
                      .setAttribute('data-back-button', '<li class="js-drilldown-back"><a tabindes="0">' ~ 'Back'|t ~'</a></li>')
      }}>
    {% else %}
      <ul class="menu vertical nested">
    {% endif %}
    {% for item in items %}
      {# ========= Set menu item icon =========== #}
      {# HINT: You also have to change the link functions item.title to menu_item_label #}
      {% set item_icon = item.entity.field_icon.value %}
      {% set item_icon_position = item.entity.field_icon_position.value|default('icon_position_left') %}
      {% set item_has_icon = (not item_icon is iterable) and item_icon|trim|length > 0 ? true : false %}
      {% if item_has_icon %}
          {% set menu_item_label %}
            <i class="ico {{ item_icon }}"></i>{% if item_icon_position != "icon_only" %} <span>{{ item.title }}</span>{% endif %}
          {% endset %}
      {% else %}
          {% set menu_item_label %}
            <span>{{ item.title }}</span>
          {% endset %}
      {% endif %}
      {# ========= END Set menu item icon =========== #}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          item_has_icon ? 'has-icon',
          item_has_icon ? item_icon_position|default('icon_position_left')|clean_class
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(menu_item_label, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
