  {% extends "@blazy/blazy.html.twig" %}

  {# Replace control icons #}
  {% block blazy_player %}
    {% if blazies.is.player %}
      <span class="media__icon media__icon--close"></span>
      <button class="media__icon media__icon--play video-player-controls__button video-player-controls__button--play" aria-label="play" data-url="{{ settings.embed_url }}">
        <i class="ico ico-db-play-circle"></i>
      </button>
    {% else %}
      {{ iframe }}
    {% endif %}
  {% endblock %}
