{# Fixes admin toolbar styling (USERNAME > Submenu) #}
{% if links -%}
  {%- if heading -%}
    {%- if heading.level -%}
      <{{ heading.level }}{{ heading.attributes }}>{{ heading.text }}</{{ heading.level }}>
    {%- else -%}
      <h2{{ heading.attributes }}>{{ heading.text }}</h2>
    {%- endif -%}
  {%- endif -%}
  <ul{{ attributes.addClass(['menu', 'toolbar-menu']) }}>
    {%- for item in links -%}
      <li{{ item.attributes.addClass('menu-item') }}>
        {%- if item.link -%}
          {# #webksde-TF: Added button classes #}
          {{ link(item.link['#title'], item.link['#url']) }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
