<div class="search-page">
  <div class="search-page__search-form mb-md">
    {{ form }}
  </div>

  {% if search_title %}
    <h2 class="search-page__result-title">{{ search_title }}</h2>
  {% endif %}

  {% if no_of_results %}
    <div class="search-page__result-amount">
      <em>{{ no_of_results }}</em>
    </div>
  {% endif %}

  {% if no_results_found %}
    <div class="callout info">
      <i class="callout__icon ico-db-info ico--circled ico--lg"></i>
      <p>
        <strong>{{ no_results_found }}</strong>
      </p>
      {% if no_results_found %}
        <div class="cutline-top cutline-top--small text-small">
          {{ search_help }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if results %}
    <div class="search-page__results">
      {{ results }}
    </div>
  {% endif %}

  {% if pager %}
    <div class="search-page__pager">
      {{ pager }}
    </div>
  {% endif %}
</div>
