{% extends "@slick/slick-vanilla.html.twig" %}

{#
  Always attach slick.theme.css if slick carousel is used (vanilla formatter only, we dont care acout the slick modules custom themes).
  This is needed basiacally because of the bad implementation by https://www.drupal.org/project/slick_entityreference
#}

{% block slick_vanilla %}
  {{ attach_library('drowl_base/slick_theme') }}
  {{ parent() }}
{% endblock %}
