{#
/**
 * @file
 * Display an iframe with alterable components.
 * Add foundation responsive-embed classes.
 */
#}
<div class="responsive-embed mb-none widescreen">
  <iframe{{ attributes }}{% if url is not empty %} src="{{ url }}{% if query is not empty %}?{{ query|url_encode }}{% endif %}{% if fragment is not empty %}#{{ fragment }}{% endif %}"{% endif %}></iframe>
</div>
