{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
{# ! IMPORTANT: This HAS to be a list! Otherwise core doesn't assign JS pager behaviour!! #}
<ul{{ attributes.addClass(['views-infinite-scroll-options', 'grid-x', 'grid-margin-x', 'align-spaced', 'no-bullet', 'mt-md']) }}>
  <li class="views-infinite-scroll-options__item">
    <a class="button text-color hollow" href="{{ items.next.href }}" title="{{ 'Show more'|t }}" rel="next"><i class="fa fa-ellipsis-h"></i> {{ options.button_text }}</a>
  </li>
</ul>
{% endif %}
