{#
/**
 * @file
 * Theme implementation for webform element help
 *
 * Available variables
 * - element: form element
 * - help: Help content.
 * - help_icon: Help icon.
 *
 * @see template_preprocess_webform_element_help()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
{{ attach_library('drowl_base/webform_help') }}
<span{{ attributes }}><i class="ico-db-question-circle" aria-hidden="true"></i></span>
{% endapply %}
