.page-footer {
  margin-top: 3rem;
  padding: 1rem 0;
  background: $white;
  .columns {
    margin-bottom: 1rem;
  }
  a:not(.button) {
    color: currentColor;
  }
  .menu.vertical.menu--level-0 {
    > li {
      > a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__columns {
    + .page-footer__bottom {
      // TODO: modify the cutline mixin so it accepts sm / md / ... as spacing parameter and include the new space mixin in this case
      @include cutline('top', $color: rgba(0, 0, 0, 0.15), $spacing-one: $space-md-v);
    }
  }
  &__bottom {
    font-size: $medium-font-size;
    .menu {
      justify-content: center;
    }
  }
}

.region--footer-above {
  margin-top: var(--space-v-lg);
}

// If region page bottom is active - remove footer spacing.
.region--footer-above,
.region--content-bottom {
  + .page-footer {
    margin-top: 0;
  }
}
