.page-header {
  background: $white;
  position: relative; // required for megamenu positioning!
  border-bottom: 1px solid $grey-light;
  padding-top: var(--space-v-md);
  padding-bottom: var(--space-v-md);
  &__site-branding {
    flex: 1 1 auto;
  }
  &__blocks {
    flex: 1 1 auto;
  }
}
.page-top-header {
  font-size: $small-font-size;
  @include cutline($spacing-one: 0, $spacing-two: 0);
  .block {
    margin: 0;
    > * {
      max-width: var(--global-width, #{$global-width});
      margin-left: auto;
      margin-right: auto;
      padding-left: calc(var(--foundation-grid-gutter) / 2);
      padding-right: calc(var(--foundation-grid-gutter) / 2);
    }
  }
  .callout {
    font-size: $small-font-size;
    border-radius: 0;
    // Messages via news view / nodes
    .views-field-title {
      margin-right: 0.25em;
    }
    .views-more-link {
      text-decoration: underline;
    }
  }
}
.page-meta-header {
  font-size: $small-font-size;
  background: $grey-light;
  color: $muted;
  .grid-x {
    flex-flow: row; // nowrap!
  }
  .block {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    line-height: $global-lineheight-small;
    .block-title {
      font-size: $small-font-size;
      margin: 0 0.5em 0 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
    &:not(.block-menu) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    p {
      line-height: inherit;
    }
  }
  .block-menu {
    display: flex;
    .menu {
      flex-wrap: nowrap;
    }
    li {
      > a {
        color: currentColor;
        white-space: nowrap;
        padding-left: 0.65em;
        padding-right: 0.65em;
      }
    }
    &:last-child {
      justify-content: flex-end;
    }
    &:first-child {
      .menu--level-0 {
        > li:first-child > a:not(.button) {
          padding-left: 0;
        }
      }
    }
    &:last-child {
      .menu--level-0 {
        > li:first-child > a:not(.button) {
          padding-right: 0;
        }
      }
    }
  }
  a:not(.button) {
    color: currentColor;
  }
  .button {
    margin-bottom: 0;
  }
}

.site-branding {
  &__logo {
    line-height: 0;
    grid-row: span 2;
  }
  &__name {
    font-size: $global-font-size-large;
    font-weight: $global-weight-bold;
    line-height: 1.1;
    grid-column: 2/3;
    white-space: nowrap;
  }
  &__slogan {
    line-height: 1.1;
    grid-column: 2/3;
  }
  &--with-text {
    align-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 1rem;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
}

.header-image-wrapper {
  overflow: hidden;
  .slick {
    height: 100%;
    // Reduce FOUC
    overflow: hidden;
    background-color: var(--header-image-background-color, #{$default-header-image-background-color});
  }
}
