// Non-modular or client styles for the .l-content region.

// Ensure the footer is at the bottom, even if there is less page content
.page-wrapper {
  > .inner-wrap > .off-canvas-content {
    @supports (display: grid) {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      > * {
        flex-shrink: 1;
      }
      > .page {
        flex-grow: 1;
      }
    }
  }
}

.page {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-v-lg);
    h1 {
      margin-bottom: 0;
    }
    .ico {
      margin-right: var(--space-h-xs);
    }
  }
  > .breadcrumb-wrapper {
    margin-top: 1rem;
  }
}

// Drupal Tabs / Admin options region wrapper
.page-options-wrapper {
  &--vertical {
    // Show tabs inside vertical instead of horizontal
    position: relative;
    &::before {
      @include breakpoint(large) {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $cutline-default-color;
      }
    }
    .tabs {
      display: block;
      background: none;
      .tabs-title {
        float: none;
        border: 0 none;
        margin-bottom: 1px;
      }
    }
    // .button-group{
    //   flex-direction: column;
    //   .button{
    //     margin-right:0;
    //     justify-content: flex-start;
    //     border-radius: 0 $button-radius $button-radius 0;
    //     &:not(.active){
    //       background:transparent;
    //       color:$text-color;
    //     }
    //   }
    // }
  }
}

// Landingpages
.node--type-landingpage {
  .page-main-content {
    padding-top: 0;
  }
  .region--footer-above {
    margin-top: 0;
  }
}
