@use 'sass:math';

html {
  // Important for eu cookie compliance!
  overflow: auto;
}

// If align justify or space around is set - we need to remove the fixed with from the cells - otherwise this settings is senseless
// TODO: This doesnt work properly. This isn't a bug, the width is needed, without it the row will just break the columns because they grow
//       even if flex-shrink: 1 and flex-grow: 0 is set. Ideas:
//       - Set nowrap on the row (bad idea for mobile > Can't determine the breakpoint when to set nowrap)
//       - Remove instead of width auto set width: min-content or something? > Bad browser support? Also min-content will shrink text only blocks to .. the width of 1 char?
//       - Modify the foundation column definition to use clamp it space-between/-around is set on the row, something like flex-basis: clamp(10%, 50%, calc(66.66667% - 1.25rem)) + flex-shrink:1 + flex-grow:0 + width:auto
//         but this will also fail
//       - Let the user select column width for each column => Maybe this is the only technically clean solution to fix this.
//         But we wont have this complexity for the users (we had this option in the past, the majority of the users dont understand the 12 columns thing.
// .grid-x{
//   &.align-justify{
//     > .cell{
//       @include breakpoint(medium){
//         flex-shrink:1;
//         width:auto;
//       }
//     }
//   }
// }

// Vertical align sidebar with page content
.page-main-content,
.sidebar {
  padding-top: var(--space-v-md);
  .menu.vertical:not(.is-dropdown-submenu) {
    a {
      padding-left: 0;
    }
  }
}

// Search API Page
.search-page {
  margin-bottom: $grid-gutter;
  &__results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $grid-gutter;
    padding-top: var(--space-v-md);
    .media-object {
      margin-bottom: 0;
      padding: var(--space-md);
      border: 1px solid var(--light-gray, #{$grey-light});
    }
    .media-object__image {
      @include breakpoint($mediaobject-breakpoint) {
        width: 30%;
        flex-basis: 30%;
      }
    }
  }
  &__pager {
    margin-top: var(--space-v-md);
  }
}

.help-wrapper .callout {
  margin-top: var(--space-v-md);
}

// User Login page
// TODO: This style or the whole file does not work
.section-user {
  // Let the login form overlap the header image
  .page-main-content--has-header-image {
    @include breakpoint(large) {
      margin-top: math.div($default-header-image-height, -3);
      padding-top: 0;
      position: relative;
      z-index: 10;
    }
  }
}
