@import 'scss/base';

// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// !! Hint: Prevent using color variables here, we won't recompile this file
// !!       in the child themes. If needed add CSS variables to
// !!       base/drowl_base.css_variables.scss and use them here.

img {
  // Show image alt text italic so its a little more visible as regular text.
  font-style: italic;
  // fix image gap on inline images
  vertical-align: bottom;
}

// Block Video elements to prevent line-height spacing issues
video {
  display: block;
}

// Headings
//------------------------------------------

// Prevent linked headings from being underlined
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  a {
    text-decoration: none;
  }
}

// Anchors
//-----------------------------------------------------------------------------
// Make links always the same color as the surrounding text.
a {
  color: $link-color;
  @if ($link-with-underline == true) {
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
  }
  &:hover {
    color: $link-color;
    @if ($link-with-underline == true) {
      text-decoration-color: currentColor;
    }
  }
}
