@import 'scss/base';

// ============================================================================
// Zurb Foundation fixes / improvements
// ============================================================================

// !! Hint: Prevent using color variables here, we won't recompile this file
// !!       in the child themes. If needed add CSS variables to
// !!       base/drowl_base.css_variables.scss and use them here.

html {
  // Set $body-background (color) also on the HTML element because this flashes up on load and is visible on shorter pages, etc.
  background-color: var(--body-background);
}

// Fix input backgrounds if required fields become an error
.is-invalid-input:not(:focus) {
  background: var(--input-background, #{$input-background});
}

// Fouc fix with animation
@keyframes fouc-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Fix Foucs
.no-js {
  // Prevent dropdown menu fouc
  .is-dropdown-submenu-parent {
    // we've removed this class because of https://foundation.zurb.com/forum/posts/46047-bug-foundation-topbar-dropdown-menu-error .. so
    > .menu {
      visibility: hidden;
    }
  }
  // Offcanvas - we cant use transition animation because this is already used for the regular show/hide animation
  // With the 'fouc-fade-in'-animation we wait for the initial transition animation to finish ==> no foud.
  .off-canvas {
    opacity: 0;
    animation-name: fouc-fade-in;
    animation-duration: 10ms;
    animation-iteration-count: 1;
    animation-delay: calc(var(--offcanvas-transition-length) + 0.25s);
  }
}

// Media Objects
// -- Fix media objects without media / image - the text shouldnt have space then
.media-object {
  img {
    max-width: 100%;
  }
  // TODO: Do we use this modifier somewhere? Modules?
  &--missing-image {
    .media-object-section:last-child:not(:nth-child(2)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Fix callout link color
.callout {
  a:not(.button) {
    color: currentColor !important;
  }
}

// Flyout Shadows
.menu.is-dropdown-submenu {
  box-shadow: var(--dropdown-shadow);
}

// Fix dropdown shadow setting - it isnt applied elsewhere
.dropdown-pane {
  box-shadow: var(--dropdown-shadow);
}

// Fix dropdown font size
.dropdown-pane {
  font-size: 1em;
}
// .card-image has a min-height of 1px, what is problematic with our equal height solution (jQuery + xy grid)
.card-image {
  min-height: unset;
}

// Reveals / Modals
.reveal {
  // Set z-index for the close button - otherwise its often hidden by the contents
  // Also fix the not working color variables
  > .close-button {
    z-index: 99;
    line-height: 0;
    top: 1.5rem;
    right: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--reveal-close-button-background);
    color: var(--reveal-close-button-color);
  }
}

// Buttons
.button.dropdown::after {
  // Fix dropdown arrow position
  top: 0;
}

// Responsive Tables
// -- Add an inner shadow to responsive tables if horizontally scrollable, so its more clear to the users
// -- https://www.smashingmagazine.com/2019/01/table-design-patterns-web/#style-the-scroll
table {
  // Ckeditor sets inline style width override this
  width: 100% !important;
  td {
    border: var(--table-border);
  }
}
.table-scroll {
  max-width: 100%;
  background: linear-gradient(to right, var(--box-style-bg, --body-background) 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), var(--box-style-bg, --body-background) 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: var(--box-style-bg, --body-background);
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
  table {
    margin: 0;
  }
}

.breadcrumbs {
  // Breadcrumbs uses floating and an ::after clearfix - which doesnt work for any reason in FF. Use overflow-clearfix instead
  overflow: hidden;
  li:not(.current) {
    // Another Foundation breadcrumb colors fix
    color: var(--breadcrumbs-item-color);
  }
  a {
    // Fix breadcrumb link color (color is just set on the surrounding li)
    color: currentColor;
  }
}

// Add visibility classes for custom sizes (not generated by ZF)
.show-for-xlarge {
  @include show-for('xlarge');
}
.hide-for-xlarge {
  @include hide-for('xlarge');
}
.show-for-xxlarge {
  @include show-for('xxlarge');
}
.hide-for-xxlarge {
  @include hide-for('xxlarge');
}
