@import 'scss/base';

// !! Hint: Prevent using color variables here, we won't recompile this file
// !!       in the child themes. If needed add CSS variables to
// !!       base/drowl_base.css_variables.scss and use them here.

// Cores JS visibility classes (https://www.drupal.org/project/views/issues/2864124)
html.js input.js-hide {
  display: none !important;
}

// CSS Styles for our Javascript empty check (see drowl_base.global.js) - here is the WHY:
// - https://www.drupal.org/node/953034 (not solved for years and probably never will be)
// - There are workarounds for many, but not all, cases - this class is for unsolvable ones.
// - Some workarounds will destroy Drupals caching, see: https://www.drupal.org/docs/8/api/render-api/cacheability-of-render-arrays
.js-empty-check {
  display: none !important;
}

// ============================================================================
// Fields fixes
// ============================================================================

.field {
  // Optimize inline labels with Flexbox
  &--label-inline {
    display: flex;
    .field__label {
      margin-right: 0.25em;
      display: inline-flex;
      &::after {
        content: ':';
      }
    }
    span.field__label,
    div.field__label {
      font-weight: var(--label-font-weight);
    }
  }
}

// ============================================================================
// Entity Fixes
// ============================================================================

// Hide duplicate "unpublished" messages on view mode 'full'
.entity--unpublished.entity--view-mode-full {
  > .entity-layout {
    > .entity-layout__header {
      .entity-publication-state {
        display: none;
      }
    }
  }
}

// ============================================================================
// Input Groups
// ============================================================================

.input-group {
  > .form-item {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

// ============================================================================
// Embeded entities alignment
// ============================================================================

// Good ol' floats (basicly for images floating text)
.embedded-entity.align-left,
img.align-left,
.embed-left {
  text-align: center;
  width: 50%;
  max-width: 470px;
  float: left;
  margin: 0 var(--floated-elements-grid-gutter) var(--floated-elements-grid-gutter) 0;
}

.embedded-entity.align-right,
img.align-right,
.embed-right {
  text-align: center;
  width: 50%;
  max-width: 470px;
  float: right;
  margin: 0 0 var(--floated-elements-grid-gutter) var(--floated-elements-grid-gutter);
}

// Fix CSS Shapes for image paragraphs
.embed-right[class*='css-shape-'],
.embed-left[class*='css-shape-'] {
  shape-margin: var(--floated-elements-grid-gutter);
  // The shapes working with percentage values, so we have to ensure the image has the right ratio
  margin: 0;
}

// ============================================================================
// Admin fixes
// ============================================================================

// TODO: Move to a seperate file - loaded just in the drupal backend
// Fix admin toolbar + top-bar bug (admin toolbar overlayed the docked menu bar)
.adminimal-admin-toolbar {
  padding-top: 0 !important;
  margin-top: 39px !important;
  // Re-position ZF topbar also
  .top-bar-outer.is-stuck {
    top: 39px !important;
  }
  &.tray-open,
  &.toolbar-tray-open {
    padding-top: 0 !important;
    margin-top: 78px !important;
    // Re-position ZF topbar also
    .top-bar-outer.is-stuck {
      top: 40px + 35px !important;
    }
  }
}

// -- Fix contextual links collision
.block-webksdct-main-menu {
  &.contextual-region {
    position: static !important;
  }
  > .contextual {
    display: none !important;
  }
}

// ============================================================================
// jQuery UI dialog styling (used by drupal core)
// ============================================================================

// We dont want to add jquery.ui as dependency anymore but we currently need to use the drupal core dialog function which depends on jquery.ui modal.
.ui-widget-overlay {
  @include reveal-overlay;

  display: block;
}

.ui-dialog {
  @include reveal-modal-base;

  // Override jquery inline styles
  width: 600px !important;
  max-width: 95vw !important;
}

.ui-icon-closethick {
  @include ico-replacement($ico-db-remove);
}

// ============================================================================
// Ajax throbber / spinner as fullpage overlay
// ============================================================================

.ajax-progress-throbber {
  @extend .ui-widget-overlay;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    // Remove the ugly default spinner and add an icon with css rotate animation
    background: none !important;
    animation: round 1s infinite;
    margin: 0 !important;
    padding: 0 !important;
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);

    &::before {
      @include get-ico-only($ico-db-spinner);
      font-size: var(--icon-size-xl);
      line-height: var(--icon-size-xl);
    }
  }
}

.ajax-progress-fullscreen {
  background: var(--black-glass);
  height: 100%;
  width: 100%;
  border-radius: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: ' ';
    color: $white;
    background: none;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translateZ(0);
    animation: throbber 1.7s infinite ease, round 1.7s infinite ease;
  }
}
