// !! Hint: Prevent using color variables here, we won't recompile this file
// !!       in the child themes. If needed add CSS variables to
// !!       base/drowl_base.css_variables.scss and use them here.

// Fix default font weight for some elements (they doesnt inherit from body, especialy buttons)
button,
input,
optgroup,
select,
textarea {
  font-weight: inherit;
}

// Remove fixed color from buttons
button {
  color: currentColor;
}

// Fix outlines in webkit / chrome - https://github.com/zurb/foundation-sites/issues/5757
// Removed! Bad practise. http://www.outlinenone.com/
// :focus{
//   outline: none !important;
// }

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

// Safari fails with svg sizing without this reset
svg {
  height: auto;
  width: auto;
}

/**
 * =============================================================================
 * Accessibility
 * =============================================================================
 */

/**
 * Visually emphasize focused elements with custom tabindex which should
 * be keyboard accessible.
 */
[tabindex='0']:focus {
  outline: thin dotted;
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex='-1']:focus {
  outline: none;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements.
 */

[aria-disabled='true'] {
  cursor: default;
  pointer-events: none;
}

/**
 * Hide `[type="button"] when `.no-js` is present.
 */
.no-js button[type='button'] {
  display: none;
}
