@import 'scss/base';
@import 'node_modules/drowl-sass-base/base/typography';

// Override typo if not possible via settings.

// =============================================================================
//  Fonts
// =============================================================================

// Old methos - dropped because of DSGVO
// @import url("#{$body-font-css-path}");

// !! Remember to add font-display: swap; to each @font-face definition
// Also remember to add font-display: optional; to the iconfont definition

// Roboto
// See: https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin
// If you replace the default font, ensure to replace the path with #{unquote($font-path)}
// Example: url("#{unquote($font-path)}roboto-v19-latin-300.woff2")
$font-first-path: '../../fonts/' !default;
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('#{unquote($font-first-path)}roboto-v19-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
    url('#{unquote($font-first-path)}roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{unquote($font-first-path)}roboto-v19-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('#{unquote($font-first-path)}roboto-v19-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('#{unquote($font-first-path)}roboto-v19-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('#{unquote($font-first-path)}roboto-v19-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('#{unquote($font-first-path)}roboto-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('#{unquote($font-first-path)}roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{unquote($font-first-path)}roboto-v19-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('#{unquote($font-first-path)}roboto-v19-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('#{unquote($font-first-path)}roboto-v19-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('#{unquote($font-first-path)}roboto-v19-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

// Responsive font size
html {
  @include breakpoint(small down) {
    font-size: $global-font-size-small-devices;
  }
}
