{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - html_attributes: Raw HTML attributes for the <html> tag.
 *   Contains langcode and text direction.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    drowl_base_variables.entity_type ? 'page-entity--type-' ~ drowl_base_variables.entity_type|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    user.getRoles()|join(' user-role--'),
  ]
%}
<!DOCTYPE html>
{# Attention! In cause of some Drupal bug the html_attributes will not printed out if the space before is missing! #}
<html {{ html_attributes.addClass('no-js') }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    {% block drowl_code_brand %}
      <!-- Proudly developed by
       _____  _____   ______          ___           _
      |  __ \|  __ \ / __ \ \        / / |         | |
      | |  | | |__) | |  | \ \  /\  / /| |       __| | ___
      | |  | |  _  /| |  | |\ \/  \/ / | |      / _` |/ _ \
      | |__| | | \ \| |__| | \  /\  /  | |____ | (_| |  __/
      |_____/|_|  \_\\____/   \/  \/   |______(_)__,_|\___|

      We're experts at building your next generation online platform / shop / individual web solution. Interested? Visit us: http://www.Drowl.de | http://www.webks.de
      You're looking for a new software developer / DRUPAL CMS developer / designer JOB in a friendly, motivated and dedicated team? Contact us: http://www.Drowl.de | http://www.webks.de
      Thank you. Happy coding! :) -->
    {% endblock %}
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <div class="hidden">
      {{ page.hidden_contents }}
    </div>
  </body>
</html>
