{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# Check if regions are hidden by current entities settings #}
{% if node.field_hide_regions.0 %}
  {% set hide_header       = FALSE %}
  {% set hide_top_bar      = FALSE %}
  {% set hide_header_image = FALSE %}
  {% set hide_breadcrumbs  = FALSE %}
  {% set hide_footer       = FALSE %}

  {% for region in node.field_hide_regions %}
    {% if region.value == 'header' %}
      {% set hide_header = TRUE %}
    {% elseif region.value == 'top_bar' %}
      {% set hide_top_bar = TRUE %}
    {% elseif region.value == 'header_image' %}
      {% set hide_header_image = TRUE %}
    {% elseif region.value == 'breadcrumbs' %}
      {% set hide_breadcrumbs = TRUE %}
    {% elseif region.value == 'footer' %}
      {% set hide_footer = TRUE %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Prepare #main wrapper attributes (also used in page--user.html.twig) #}
{% set main_wrapper_attributes = create_attribute() %}
{%
  set main_wrapper_classes = [
    'page-main-content',
    has_sidebar or (not node) ? main_grid
  ]
%}

{# Check if and which header image type is active #}
{% if not hide_header_image %}
  {% set header_image_field_rendered = page.header_image_entity_field|render %}
  {% if (header_image_field_rendered|striptags('<img><video><drupal-render-placeholder>')|trim is not empty) %}
    {# Header image is overridden by current entities field "header_slide" #}
    {% set header_image_rendered = header_image_field_rendered %}
  {% else %}
    {% set header_image_blocks_rendered = page.header_image|render %}
    {% if (header_image_blocks_rendered|striptags('<img><video><drupal-render-placeholder>')|trim is not empty) %}
      {% set header_image_rendered = header_image_blocks_rendered %}
    {% else %}
      {% set header_image_fallback_rendered = page.header_image_fallback|render %}
      {# No header image is set - show fallback block / region #}
      {% if (header_image_fallback_rendered|striptags('<img><video><drupal-render-placeholder>')|trim is not empty) %}
        {% set header_image_rendered = header_image_fallback_rendered %}
      {% else %}
        {# No header image fallback - no header image at all to show! #}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

{% set page_wrapper_attributes = create_attribute() %}
{%
  set page_wrapper_classes = [
    'page-wrapper',
    'off-canvas-wrapper'
 ]
%}

{% block page_wrapper %}
  <div {{ page_wrapper_attributes.addClass(page_wrapper_classes) }}>
    <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
      {% if page.right_off_canvas %}
        <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" data-off-canvas data-content-scroll="false" data-force-to="top">
          {% if page.right_off_canvas_top|render|striptags('<img><video><drupal-render-placeholder>')|trim|length > 0 %}
            <div class="off-canvas__top">
              {{ page.right_off_canvas_top }}
            </div>
          {% endif %}
          {{ page.right_off_canvas }}
          {# Since we have a better solution to check empty regions - we print out the wrapper empty wrapper. #}
          {# Otherwise Icon-only Menus wouldnt print out #}
          {# if page.right_off_canvas_bottom|render|striptags|trim is not empty #}
          <div class="off-canvas__bottom cutline-top cutline-top--small">
            {{ page.right_off_canvas_bottom }}
          </div>
          {# endif #}
        </aside>
      {% endif %}
      <div class="off-canvas-content" data-off-canvas-content>
        {% if not hide_header %}
          {% block meta_header %}
            {% if page.meta_header %}
              <div class="page-meta-header show-for-large">
                <div class="grid-container">
                  {{ page.meta_header }}
                </div>
              </div>
            {% endif %}
          {% endblock meta_header %}

          {{ page.top_header }}

          {% block header %}
            {% if show_header_site_logo or show_header_site_name or show_header_site_slogan or page.header %}
              <header class="page-header show-for-large" aria-label="{{ 'Site header'|t }}">
                <div class="grid-container">
                  <div class="grid-x grid-margin-x grid-margin-y">
                    {% set site_branding_attributes = create_attribute() %}
                    {%
                      set site_branding_classes = [
                        'cell',
                        'auto',
                        'page-header__site-branding',
                        'site-branding',
                        (show_header_site_name and linked_site_name) or (show_header_site_slogan and site_slogan) ? 'site-branding--with-text'
                      ]
                    %}
                    <div {{ site_branding_attributes.addClass(site_branding_classes) }}>
                      {% if show_header_site_logo and linked_logo %}
                        <div class="site-branding__logo">
                          {{ linked_logo }}
                        </div>
                      {% endif %}
                      {% if show_header_site_name and linked_site_name %}
                        <div class="site-branding__name">
                          {{ linked_site_name }}
                        </div>
                        {% if show_header_site_slogan and site_slogan %}
                          <div class="site-branding__slogan">
                            {{ site_slogan }}
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                    {% if page.header %}
                      <div class="cell auto page-header__blocks">
                        {{ page.header }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </header>
            {% endif %}
          {% endblock header %}
        {% endif %}

        {% if not hide_top_bar %}
          {% block top_bar %}
            {% if top_bar_sticky %}
            <div class="top-bar-outer-wrapper{% if page.meta_header %} top-bar-outer-wrapper--has-meta-header{% endif %}" data-sticky-container>
            {% endif %}
              {# Hint: Set data-top-anchor to "-1" if the top bar is initally on top #}
              <div class="top-bar-outer top-bar-outer--logo-{{ drowl_base_variables.topbar_logo_behavoir|clean_class }}"
                {% if top_bar_sticky %}
                  data-sticky data-options="stickyOn: small"
                  data-margin-top="0"
                  data-top-anchor="page:top"
                  data-btm-anchor="page:bottom"
                {% endif %}>
                {# We need this additional wrapper (.top-bar-wrapper) as position base for the megamenu flyout #}
                <div class="top-bar-wrapper">
                  <div class="top-bar grid-container">
                    <div class="top-bar-left">
                      {{ page.top_bar_left }}
                      {{ page.main_menu }}
                    </div>
                    <div class="top-bar-right">
                      {% if page.top_bar_right %}
                        <div class="top-bar-right__blocks show-for-medium">
                          {{ page.top_bar_right }}
                        </div>
                      {% endif %}
                      {# Mobile Search (off-canvas) trigger button #}
                      <button type="button" class="top-bar-right__offcanvas-trigger mobile-search-button hide-for-large" data-toggle="right-off-canvas-menu" aria-label="{{ 'Toggle Search'|t }}">
                        <i class="ico ico-search" aria-hidden="true"></i>
                      </button>
                      {# Mobile Menu (off-canvas) trigger button #}
                      <button type="button" class="top-bar-right__offcanvas-trigger mobile-menu-button hide-for-large" data-toggle="right-off-canvas-menu" aria-label="{{ 'Toggle Menu'|t }}">
                        <span class="mobile-menu-icon">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                {# Top bar bottom line region is just for an additional anchor menu, dynamicly generated by our paragraphs module #}
                {{ page.top_bar_bottom_line }}
              </div>
            {% if top_bar_sticky %}
            </div>
            {% endif %}
          {% endblock top_bar %}
        {% endif %}

        {% block header_image %}
          {% if header_image_rendered %}
            <div class="header-image-wrapper">
              {{ header_image_rendered }}
            </div>
          {% endif %}
        {% endblock header_image %}

        <div id="page" class="page">
          {% block breadcrumbs %}
            {% if not hide_breadcrumbs %}
              {{ page.breadcrumbs }}
            {% endif %}
          {% endblock breadcrumbs %}
          {% block messages %}
            {% if messages %}
              <div id="status-messages" class="messages-wrapper">
                {{ messages }}
              </div>
            {% endif %}
            {{ page.help }}
          {% endblock messages %}

          {% block highlighted %}
            {{ page.highlighted }}
          {% endblock highlighted %}

          {% block page_options %}
            {{ page.page_options }}
          {% endblock page_options %}

          {% block content_top %}
            {{ page.content_top }}
          {% endblock content_top %}

          {% block main %}
            {% if not node or has_sidebar %}
            <div class="grid-container">
            {% endif %}
            {% if has_sidebar %}
            <div class="grid-x grid-margin-x grid-margin-y">
            {% endif %}
              <main{{ main_wrapper_attributes.addClass(main_wrapper_classes).setAttribute('id', 'main') }}>
                <a id="main-content"></a>
                {% block page_content %}
                  {% if (not drowl_base_variables.entity_type) %}
                    {# Print out page title if the current page is not an entity. On entities we print out the title as field / layout builder block. #}
                    <div class="page__title">
                      {{ drupal_block('page_title_block',  wrapper=false) }}
                    </div>
                  {% endif %}
                  {{ page.content }}
                {% endblock page_content %}
              </main>
              {% block sidebar_first %}
                {% if page.sidebar_first %}
                  <div id="sidebar-first" class="{{ sidebar_first_grid }} sidebar sidebar--first">
                    {{ page.sidebar_first }}
                  </div>
                {% endif %}
              {% endblock sidebar_first %}
              {% block sidebar_second %}
                {% if page.sidebar_second %}
                  <div id="sidebar-second" class="{{ sidebar_sec_grid }} sidebar sidebar--second">
                    {{ page.sidebar_second }}
                  </div>
                {% endif %}
              {% endblock sidebar_second %}
            {% if has_sidebar %}
            </div>
            {% endif %}
            {% if  not node or has_sidebar %}
            </div>
            {% endif %}
          {% endblock main %}
        </div>
        {% if not hide_footer %}
          {% block content_bottom %}
            {{ page.content_bottom }}
          {% endblock content_bottom %}
          {% block footer_above %}
            {{ page.footer_above }}
          {% endblock %}
          {% block footer %}
            {% if page.footer_top or page.footer_first or page.footer_middle or page.footer_last or page.footer_bottom %}
              <footer class="page-footer">
                {% block footer_top %}
                  {% if page.footer_top %}
                    <div id="footer-top" class="page-footer__top grid-x grid-margin-x grid-margin-y">
                      <div class="cell small-12">
                        {{ page.footer_top }}
                      </div>
                    </div>
                  {% endif %}
                {% endblock footer_top %}
                {% if page.footer_first or page.footer_middle or page.footer_last %}
                  {% block footer_columns %}
                    <div class="page-footer__columns grid-container">
                      <div class="grid-x grid-margin-x grid-margin-y align-justify">
                        {% block footer_first %}
                          {% if page.footer_first %}
                            <div id="footer-first" class="page-footer__left cell small-12 large-4">
                              {{ page.footer_first }}
                            </div>
                          {% endif %}
                        {% endblock footer_first %}
                        {% block footer_middle %}
                          {% if page.footer_middle %}
                            <div id="footer-middle" class="page-footer__middle cell small-12 large-4">
                              {{ page.footer_middle }}
                            </div>
                          {% endif %}
                        {% endblock footer_middle %}
                        {% block footer_last %}
                          {% if page.footer_last %}
                            <div id="footer-last" class="page-footer__right cell small-12 large-4">
                              {{ page.footer_last }}
                            </div>
                          {% endif %}
                        {% endblock footer_last %}
                      </div>
                    </div>
                  {% endblock footer_columns %}
                {% endif %}
                {% if page.footer_bottom %}
                  {% block footer_bottom %}
                    <div id="footer-bottom" class="page-footer__bottom">
                      <div class="grid-container">
                        {{ page.footer_bottom }}
                      </div>
                    </div>
                  {% endblock footer_bottom %}
                {% endif %}
              </footer>
            {% endif %}
          {% endblock footer %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock page_wrapper %}
{# Scroll to top button #}
<div class="scroll-top" aria-label="{{ 'Scroll to top'|t }}">
  <i class="ico ico-db-chevron-up"></i>
</div>
{% if page.outer_page %}
  {{ page.outer_page }}
{% endif %}
