{% extends "page.html.twig" %}

{# Empty blocks (to simply hide them in this context, or to place them manually beyond.) #}
{% block page_options %}{% endblock page_options %}
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block messages %}{% endblock messages %}
{% block sidebar_first %}{% endblock sidebar_first %}
{% block sidebar_second %}{% endblock sidebar_second %}

{% block main %}
    <div class="grid-container">
        {% if has_sidebar %}
        <div class="grid-x grid-margin-x grid-margin-y">
        {% endif %}
            {# Add formatter class if we have a header image or not, so we can move the login form above the header image #}
            {% if (not hide_header_image) and (header_image_blocks_not_empty or header_image_field_not_empty or header_image_fallback_not_empty) %}
                {% set main_wrapper_classes = main_wrapper_classes|merge(['page-main-content--has-header-image']) %}
            {% endif %}
            <main{{ main_wrapper_attributes.addClass(main_wrapper_classes).setAttribute('id', 'main') }}>
                <div class="box-style box-style--light mt-lg mb-lg">
                    {{ block("highlighted", "page.html.twig") }}
                    <a id="main-content"></a>
                    {{ block("breadcrumbs", "page.html.twig") }}
                    {{ block("messages", "page.html.twig") }}
                    <div class="grid-x grid-margin-x grid-margin-y">
                        {# Moved page option (tabs) into the box #}
                        {% if page.page_options %}
                            <div class="page-options-wrapper page-options-wrapper--vertical mb-md cell small-12 large-4 large-order-1">
                                {{ page.page_options }}
                            </div>
                        {% endif %}
                        {% block page_content %}
                            <section class="cell small-12 large-8">
                                {# Print out page title if the current page is not a node - otherwise the title is printed out in the node.html.twig #}
                                <div class="page__title">
                                    <i class="ico ico-db-user ico--circled ico--lg bg-primary text-white"></i>
                                    {{ drupal_block('page_title_block',  wrapper=false) }}
                                </div>
                                {{ page.content }}
                            </section>
                        {% endblock page_content %}
                    </div>
                </div>
            </main>
            {{ block("sidebar_first", "page.html.twig") }}
            {{ block("sidebar_second", "page.html.twig") }}
        {% if has_sidebar %}
        </div>
        {% endif %}
    </div>
{% endblock main %}
